---
title: College Captains
stylesheets:
- /styles/college-captains.css
Colleges:
 - College: Balliol
   img: balliol
   M: james.yow@balliol.ox.ac.uk
   W: --
 - College: Brasenose
   img: brasenose
   M: frederick.hinds@bnc.ox.ac.uk
   W: fleur.snow@bnc.ox.ac.uk
 - College: Christ Church
   img: christ-church
   M: noel.li@chch.ox.ac.uk
   W: --
 - College: Corpus Christi
   img: corpus-christi
   M: --
   W: --
 - College: Exeter
   img: exeter
   M: kalyan.dutia@exeter.ox.ac.uk
   W: imogen.parry@exeter.ox.ac.uk
 - College: Green-Templeton
   img: green-templeton
   M: --
   W: --
 - College: Hertford
   img: hertford
   M: thomas.nicholls@hertford.ox.ac.uk
   W: --
 - College: Jesus
   img: jesus
   M: william.long@jesus.ox.ac.uk
   M2: stephen.ward@jesus.ox.ac.uk
   W: --
 - College: Keble
   img: keble
   M: jamie.saw@keble.ox.ac.uk
   W: --
   X: khushboo.borah@keble.ox.ac.uk
 - College: Lady Margaret Hall
   img: lady-margaret-hall
   M: thomas.johnston@lmh.ox.ac.uk
   W: gabriella.astrini@lmh.ox.ac.uk
 - College: Lincoln
   img: lincoln
   M: joshua.long@lincoln.ox.ac.uk
   W: --
 - College: Linacre
   img: linacre
   M: peter.gyring@linacre.ox.ac.uk
   W: --
 - College: Magdalen
   img: magdalen
   M: branoc.richards@magd.ox.ac.uk
   W: --
 - College: Merton
   img: merton
   M: matthew.raybould@merton.ox.ac.uk
   W: --
 - College: New
   img: new
   M: --
   W: alicia.walker@new.ox.ac.uk
 - College: Oriel
   img: oriel
   M: mark.gowers@oriel.ox.ac.uk
   W: --
 - College: Pembroke
   img: pembroke
   M: rory.weaver@pmb.ox.ac.uk
   W: --
 - College: Queen&apos;s
   img: queens
   M: samih.inceer@queens.ox.ac.uk
   W: srishti.suresh@queens.ox.ac.uk
 - College: Somerville
   img: somerville
   M: james.woodfield@some.ox.ac.uk
   M2: scott.frazer@some.ox.ac.uk
   W: michael.lin@some.ox.ac.uk
 - College: St Anne&apos;s
   img: st-annes
   M: rory.irwin@st-annes.ox.ac.uk
   W: laura.carter@st-annes.ox.ac.uk
 - College: St Benet&apos;s
   img: st-benets
   M: --
   W: --
 - College: St Catherine&apos;s
   img: st-catherines
   M: marc-andrea.fiorina@stcatz.ox.ac.uk
   W: --
 - College: St Cross/Wolfson
   img: st-cross
   img2: wolfson
   M: --
   W: amy.cottle@stx.ox.ac.uk
 - College: St Edmund
   img: st-edmund
   M: kusal.lokuge@seh.ox.ac.uk
   W: --
 - College: St Hilda&apos;s
   img: st-hildas
   M: --
   W: --
   X: martin.potts@st-hildas.ox.ac.uk
 - College: St Hugh&apos;s
   img: st-hughs
   M: kon.kwek@st-hughs.ox.ac.uk
   W: --
 - College: St John's/Mansfield
   img: st-johns
   img2: mansfield
   M: sebastian.fox@mansfield.ox.ac.uk
   M2: christopher.little@sjc.ox.ac.uk
   W: --
 - College: St Peter&apos;s
   img: st-peters
   M: george.bates@spc.ox.ac.uk
   W: alice.packham@spc.ox.ac.uk
 - College: Trinity
   img: trinity
   M: stuart.bradly@trinity.ox.ac.uk
   W: india.rees@trinity.ox.ac.uk
 - College: University
   img: university
   M: taimur.abdaal@univ.ox.ac.uk
   W: --
 - College: Wadham
   img: wadham
   M: alberto.carella@wadh.ox.ac.uk
   W: --
 - College: Worcester
   img: worcester
   M: ethan.starmer-jones@worc.ox.ac.uk
   W: emily.fay@worc.ox.ac.uk
   X: jake.brittain@worc.ox.ac.uk
---
<table cellspacing="0" cellpadding="0" class="responsive-table">
	<thead>
		<th scope="col">College</th>
		<th scope="col">Men's Team Captain</th>
		<th scope="col">Ladies' Team Captain</th>
    <th scope="col">Mixed Team Captain</th>
	</thead>
	{% for college in page.Colleges %}
	<tr>
		<th scope="row">
		{% if college.img2%}
		 <img src="/assets/colleges/{{college.img}}.svg" class="left" alt="{{college.College}}"><img src="/assets/colleges/{{college.img2}}.svg" class="right" alt="{{college.College}}"><span style="padding-right: 0.5em"></span>
		{% else %}
			<img src="/assets/colleges/{{college.img}}.svg" style="height: 2em;vertical-align: middle; padding-right:0.5em; " alt="{{college.College}}">
		{% endif %}
			{{college.College}}</th>
		{% if college.M == '--' %}
			<td data-title="Men's Team Captain">--</td>
		{% elsif college.M2 %}
			<td data-title="Men's Team Captain"><a href="mailto:{{college.M}}">{{college.M}}<br><a href="mailto:{{college.M2}}">{{college.M2}}</td>
		{% else %}
		  <td data-title="Men's Team Captain"><a href="mailto:{{college.M}}">{{college.M}}</td>
		{% endif %}
		{% if college.W == '--' %}
			<td data-title="Ladies' Team Captain">--</td>
		{% else %}
			<td data-title="Ladies' Team Captain"><a href="mailto:{{college.W}}">{{college.W}}</td>
		{% endif %}
    {% if college.X %}
      <td data-title="Mixed Team Captain"><a href="mailto:{{college.X}}">{{college.X}}</td>
    {% else %}
      <td data-title="Ladies' Team Captain">--</td>
    {% endif %}
	</tr>
	{% endfor %}
</table>
