---
title: College Captains
stylesheets:
- /styles/college-captains.css
Colleges:
 - College: Balliol
   img: balliol
   Captain: leon.kidd@balliol.ox.ac.uk
 - College: Brasenose
   img: brasenose
   Captain: manish.binukrishnan@bnc.ox.ac.uk
 - College: Christ Church
   img: christ-church
   Captain: chikun.lei@chch.ox.ac.uk
 - College: Exeter
   img: exeter
   Captain: jian.lim@exeter.ox.ac.uk
 - College: Harris Manchester
   img: harris-manchester
   Captain: ser.tan@hmc.ox.ac.uk
 - College: Jesus
   img: jesus
   Captains:
    - michael.platt@jesus.ox.ac.uk
    - hassan.daginawalla@jesus.ox.ac.uk
 - College: Keble
   img: keble
   M: oliver.browne@keble.ox.ac.uk
   W: --
   X: adam.stevens@keble.ox.ac.uk
 - College: Lady Margaret Hall
   img: lady-margaret-hall
   Captains:
   - william.evans@lmh.ox.ac.uk
   - tamsin.taylor@lmh.ox.ac.uk
   - zoe.shipley@lmh.ox.ac.uk
 - College: Lincoln
   img: lincoln
   Captains:
   - anisha.bahl@lincoln.ox.ac.uk
   - nicholas.fan@lincoln.ox.ac.uk
 - College: Magdalen
   img: magdalen
   Captain: zachariah.odowd@magd.ox.ac.uk
 - College: Merton
   img: merton
   Captains:
   - ewan.mcculloch@merton.ox.ac.uk
   - matthew.davies@merton.ox.ac.uk
 - College: New
   img: new
   Captain: andrew.bithell@new.ox.ac.uk
 - College: Oriel
   img: oriel
   Captain: sebastien.santhiapillai@oriel.ox.ac.uk
 - College: Pembroke
   img: pembroke
   Captains:
   - zhining.liu@pmb.ox.ac.uk
   - duncan.thomas@pmb.ox.ac.uk
 - College: Queen&apos;s
   img: queens
   M: maxwell.greenwood@queens.ox.ac.uk
   W: isabelle.hughes@queens.ox.ac.uk
 - College: Somerville
   img: somerville
   Captains:
    - michael.lin@some.ox.ac.uk
    - scott.frazer@some.ox.ac.uk
 - College: St Anne&apos;s/Wolfoson
   img: st-annes
   img2: wolfson
   Captain: alexander.herzog@st-annes.ox.ac.uk
 - College: St Catherine&apos;s
   img: st-catherines
   Captain: emma.osborne@stcatz.ox.ac.uk
 - College: St Edmund
   img: st-edmund
   Captain: harry.coday@seh.ox.ac.uk
 - College: St Hilda&apos;s
   img: st-hildas
   Captain: charlie.hackforth@st-hildas.ox.ac.uk
 - College: St Hugh&apos;s
   img: st-hughs
   Captain: siddharth.sahu@st-hughs.ox.ac.uk
 - College: St John's/Mansfield
   img: st-johns
   img2: mansfield
   Captains:
    - james.alster@sjc.ox.ac.uk
    - daisy.deller@mansfield.ox.ac.uk
 - College: St Peter&apos;s
   img: st-peters
   M: facrolt@gmail.com
   W: josie.elliott@spc.ox.ac.uk
 - College: Wadham
   img: wadham
   Captain: ryan.gilroy@wadham.ox.ac.uk
 - College: Worcester
   img: worcester
   Captain: james.mason@worc.ox.ac.uk
---
<table cellspacing="0" cellpadding="0" class="responsive-table">
	<thead>
		<th scope="col">College</th>
		<th scope="col">Men's Team Captain</th>
		<th scope="col">Ladies' Team Captain</th>
    <th scope="col">Mixed Team Captain</th>
	</thead>
	{% for college in page.Colleges %}
	<tr>
		<th scope="row">
		{% if college.img2%}
		 <img src="/assets/colleges/{{college.img}}.svg" class="left" alt="{{college.College}}"><img src="/assets/colleges/{{college.img2}}.svg" class="right" alt="{{college.College}}"><span style="padding-right: 0.5em"></span>
		{% else %}
			<img src="/assets/colleges/{{college.img}}.svg" style="height: 2em;vertical-align: middle; padding-right:0.5em; " alt="{{college.College}}">
		{% endif %}
			{{college.College}}</th>
      {% if college.Captains %}
      <td data-title="Captains" colspan="3">
        {% for captain in college.Captains %}
        <a href="mailto:{{captain}}">{{captain}}</a>
          {% if forloop.last != true %}
            <br>
          {% endif %}
        {% endfor %}
        </td>
      {% elsif college.Captain %}
      <td data-title="Captain" colspan="3"><a href="mailto:{{college.Captain}}">{{college.Captain}}</td>
      {% else %}
		{% if college.M == '--' %}
			<td data-title="Men's Team Captain">--</td>
		{% else %}
		  <td data-title="Men's Team Captain"><a href="mailto:{{college.M}}">{{college.M}}</td>
		{% endif %}
		{% if college.W == '--' %}
			<td data-title="Ladies' Team Captain" class="border">--</td>
		{% else %}
			<td data-title="Ladies' Team Captain" class="border"><a href="mailto:{{college.W}}">{{college.W}}</td>
		{% endif %}
    {% if college.X %}
      <td data-title="Mixed Team Captain" class="border"><a href="mailto:{{college.X}}">{{college.X}}</td>
    {% else %}
      <td data-title="Mixed Team Captain" class="border">--</td>
    {% endif %}
    {% endif %}
	</tr>
	{% endfor %}
</table>
