---
title: Cuppers
stylesheets:
 - /styles/cuppers-styles.css
---
<h2>Men's Cuppers</h2>
<div style="display:flex; margin: 10px;">
  <div id="round-one" class="round one">
    <div class="card cuppers-card">
      <img src="/assets/colleges/keble.svg" class="inline-college-logo">
      <span class="college-name">Keble</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/colleges/st-annes.svg" class="inline-college-logo">
      <span class="college-name">St Anne's</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/colleges/st-peters.svg" class="inline-college-logo">
      <span class="college-name">St Peter's</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/colleges/exeter.svg" class="inline-college-logo">
      <span class="college-name">Exeter</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/colleges/worcester.svg" class="inline-college-logo">
      <span class="college-name">Worcester</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/colleges/magdalen.svg" class="inline-college-logo">
      <span class="college-name">Magdalen</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/colleges/trinity.svg" class="inline-college-logo loser">
      <span class="college-name loser">Trinity</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/colleges/university.svg" class="inline-college-logo">
      <span class="college-name">University</span>
    </div>
  </div>
  {% include cuppers-lines.html num="8" %}
  <div id="round-two" class="round two">
    <div class="card cuppers-card">
      <img src="/assets/logo/logo-oxford-blue-tight.svg" class="inline-college-logo">
      <span class="college-name">???</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/logo/logo-oxford-blue-tight.svg" class="inline-college-logo">
      <span class="college-name">???</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/logo/logo-oxford-blue-tight.svg" class="inline-college-logo">
      <span class="college-name">???</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/colleges/university.svg" class="inline-college-logo">
      <span class="college-name">University</span>
    </div>
  </div>
  {% include cuppers-lines.html num="4" %}
  <div id="round-three" class="round three">
    <div class="card cuppers-card">
      <img src="/assets/logo/logo-oxford-blue-tight.svg" class="inline-college-logo">
      <span class="college-name">???</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/colleges/university.svg" class="inline-college-logo">
      <span class="college-name">University</span>
    </div>
  </div>
  {% include cuppers-lines.html num="2" %}
  <div id="round-four" class="round four">
    <div class="card cuppers-card">
      <img src="/assets/colleges/university.svg" class="inline-college-logo">
      <span class="college-name">University</span>
    </div>
  </div>
  <div id="versus" class="round"><span class="versus">vs</span></div>
  <div id="round-four-right" class="round four rightCard">
    <div class="card cuppers-card">
      <img src="/assets/colleges/wadham.svg" class="inline-college-logo loser">
      <span class="college-name loser">Wadham</span>
    </div>
  </div>
  {% include cuppers-lines-right.html num="2" %}
  <div id="round-three-right" class="round three rightCard">
    <div class="card cuppers-card">
      <img src="/assets/logo/logo-oxford-blue-tight.svg" class="inline-college-logo">
      <span class="college-name">???</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/colleges/university.svg" class="inline-college-logo">
      <span class="college-name">University</span>
    </div>
  </div>
  {% include cuppers-lines-right.html num="4" %}
  <div id="round-two-right" class="round two rightCard">
    <div class="card cuppers-card">
      <img src="/assets/logo/logo-oxford-blue-tight.svg" class="inline-college-logo">
      <span class="college-name">???</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/logo/logo-oxford-blue-tight.svg" class="inline-college-logo">
      <span class="college-name">???</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/logo/logo-oxford-blue-tight.svg" class="inline-college-logo">
      <span class="college-name">???</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/colleges/university.svg" class="inline-college-logo">
      <span class="college-name">University</span>
    </div>
  </div>
  {% include cuppers-lines-right.html num="8" %}
  <div id="round-one-right" class="round one rightCard">
    <div class="card cuppers-card">
      <img src="/assets/colleges/wadham.svg" class="inline-college-logo">
      <span class="college-name">Wadham</span>
    </div>
    <div class="card cuppers-card loser">
      <img src="/assets/colleges/lady-margaret-hall.svg" class="inline-college-logo">
      <span class="college-name">Lady Margaret Hall</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/colleges/st-johns.svg" class="left inline-college-logo"><img src="/assets/colleges/mansfield.svg" class="right inline-college-logo">
      <span class="college-name">St John's/Mansfield</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/colleges/balliol.svg" class="inline-college-logo">
      <span class="college-name">Balliol</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/colleges/st-hughs.svg" class="inline-college-logo">
      <span class="college-name">St Hugh's</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/colleges/st-edmund.svg" class="inline-college-logo">
      <span class="college-name">St Edmund Hall</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/colleges/jesus.svg" class="inline-college-logo">
      <span class="college-name">Jesus</span>
    </div>
    <div class="card cuppers-card">
      <img src="/assets/colleges/queens.svg" class="inline-college-logo">
      <span class="college-name">Queen's</span>
    </div>
  </div>
</div>
<h2>Women's Cuppers</h2>
<p>Have you seen the spreadsheet for last year's draw...</p>
<h2>Men's Hall of Fame</h2>
<table cellspacing="0" cellpadding="0" class="responsive-table">
	<thead>
		<th scope="col">Year</th>
		<th scope="col">College</th>
		<th scope="col">Team</th>
	</thead>
	<tr>
		<th scope="row">2015</th>
    <td data-title="College">University</td>
    <td data-title="Team">Claire Weaver, Chris Lim, Matt Kinloch, Shaun Tang</td>
  </tr>
  <tr>
    <th scope="row">2014</th>
    <td data-title="College">University</td>
    <td data-title="Team">--</td>
  </tr>
</table>
<h2>Women's Hall of Fame</h2>
<table cellspacing="0" cellpadding="0" class="responsive-table">
	<thead>
		<th scope="col">Year</th>
		<th scope="col">College</th>
		<th scope="col">Team</th>
	</thead>
	<tr>
		<th scope="row">2015</th>
    <td data-title="College">St Anne's</td>
    <td data-title="Team">--</td>
  </tr>
  <tr>
    <th scope="row">2014</th>
    <td data-title="College">--</td>
    <td data-title="Team">--</td>
  </tr>
</table>
