---
title: Latest News
layout: default
stylesheets:
 - /styles/pagination-styles.css
---
{% for post in paginator.posts %}
<div class="post">
	<a href="{{post.url}}"> <h2 class="title">{{post.title}}</h2></a>
	<p class="date">{{ post.date | date_to_long_string }}</p>
	<div style="width:100%;height:1px;background:#BDBDBD"></div>
	{{post.content}}
</div>
{% endfor %}

<div class="pagination-links">
	{% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="button">&lt;</a>
	{% else %}
	<div class="button-container">
		<span class="button-grey-out"></span> 
		<span class="button">&lt;</span>
	</div>	
	{% endif %}
	<h2 class="page-number"> Page: {{ paginator.page }} of {{ paginator.total_pages }}</h2>
	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}" class="button">&gt;</a>
	{% else %}
	<div class="button-container">
		<span class="button-grey-out"></span> 
		<span class="button">&gt;</span>
	</div>	
	{% endif %}
</div>

