---
title: OUBaC
layout: layout
stylesheets:
- /styles/index-styles.css
javascript:
- /path.js
---
<script>
	(function (s, e, n, d, er) {
	  s['Sender'] = er;
	  s[er] = s[er] || function () {
		(s[er].q = s[er].q || []).push(arguments)
	  }, s[er].l = 1 * new Date();
	  var a = e.createElement(n),
		  m = e.getElementsByTagName(n)[0];
	  a.async = 1;
	  a.src = d;
	  m.parentNode.insertBefore(a, m)
	})(window, document, 'script', 'https://cdn.sender.net/accounts_resources/universal.js', 'sender');
	sender('d85dd5c61f5577')
  </script>

<div id="title-and-logo-container">
	<div id='container'>
		<img src="/assets/logo/logo-white-grouped.svg"/>
	</div>
	<div style="-webkit-box-flex: 1;-webkit-flex-grow: 1;-ms-flex-positive: 1;flex-grow: 1; z-index:1"></div>
	<div>
		<svg class="svg-title" viewBox= " 0 0 250 50">
			<defs>
				<path d={% include logo-text-path %} id="text-def"/>
				<clipPath id="clip">
					<use xlink:href="#text-def"/>
				</clipPath>
			</defs>
		  <path d="" id="text" stroke="white" fill="white" fill-opacity="0" clippath="url(#clip)" />
		</svg>
		<h3 class="home-title-caption full-justify"><span class="canterbury">O</span>xford <span class="canterbury">U</span>niversity <span class="canterbury">Ba</span>dminton <span class="canterbury">C</span>lub</h3>
	</div>
	<div style="-webkit-box-flex: 2;-webkit-flex-grow: 2;-ms-flex-positive: 2;flex-grow: 2; z-index:1"></div>
</div>
<div id="placeholder"></div>




<div style="position:relative;"> <div style="background: url(/assets/crossed-racquets-white.svg);height:100%; position: absolute; width: 100%; opacity: 0.2; top: 0;z-index:1;"></div>
<div style="z-index: 2; position: relative;">
	<div style="background: url(/assets/crossed-racquets.svg);position:absolute; height:100%; width:100%;opacity:0.5;"></div>
		<div class="content" id="latest-news-container">
			<div>
				<h2 style="color: #002147; font-size:40px;">Latest <br> News</h3>
				</div>
				<div id="latest-news-card-container">
					{% for post in site.posts limit: 2 %}
					<a href="{{post.url}}" class="card latest-news-card"><div>
						<h3>{{post.title}}</h3>
						<p>{{post.excerpt}}</p>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
</div>
<div style="background-color: #033;text-align:center; padding: 10px; position: relative;" >
	<h2 style="color: #fff; font-size: 25px; display: inline;vertical-align: middle; z-index: 2;font-weight: normal;">Join the Mailing List</h2>
	<a href="/email-signup.html" class="button" style="color:#fff; z-index:2; position: relative; margin: 10px;">Sign Up</a>
</div>
</div>
<div id="key-point-container" class="content">
	<div class="key-point">
		<span class="letter-in-circle">C</span>
		<a href="/clubnight.html"><h2>Clubnight</h2></a>
		<p>Clubnight sessions are friendly sessions open to everyone! A player of any standard will be able to get good games here. Due to COVID-19 clubnight will be operating on a pay-to-play basis for the time being with each session costing £4.</p>
	</div>
	<div class="key-point">
		<span class="letter-in-circle">S</span>
		<a href="/squad.html"><h2>Squad</h2></a>
		<p>The Squad offers the best players the opportunity to test their abilities in a competitive setting. Members of the squad compete in the local leagues and in B.U.C.S.</p>
	</div>
	<div class="key-point">
		<span class="letter-in-circle">C</span>
		<h2>College</h2>
		<p>Players can represent their College in the College Leagues and the Cuppers tournament. To find out more about getting involved in college badminton you can <a href="/college-captains.html">contact your College captain</a>.</p>
	</div>
</div>
<script>
var d = {% include logo-text-path %}
var p;
var arrayOfSegments;
var lengths;
var currentString = "";
var startLooking = 0;
var startTime;
var animationDuration = 3000;
var targetElement = document.getElementById('text');

function animationStepOutline(){
	var stepStartTime = performance.now();
	var proportionOfAnimation = (stepStartTime - startTime) / animationDuration;
	if(proportionOfAnimation >= 1){
		targetElement.setAttribute('d', d);
		startTime  = performance.now();
		animationDuration = 2000;
		animationStepFill();
		return
	}
	var newArray = [];
	var targetLength = proportionOfAnimation*lengths[lengths.length - 1];
	for(var i = startLooking; i < lengths.length; i++){
		if(lengths[i] > targetLength){
			startLooking = i;
			currentString = currentString + Path.convertArrayToString(newArray);
      var t = Path.getTValueAtLength(arrayOfSegments[i],(targetLength-lengths[i-1])/lengths[i],1e-6);
      var splitSegments = Path.splitRelativeSegment(arrayOfSegments[i], t);
      newArray = [splitSegments[0]];
      break
    }else{
			newArray.push(arrayOfSegments[i]);
		}
	}
	targetElement.setAttribute('d', currentString + Path.convertArrayToString(newArray));
	setTimeout(animationStepOutline,Math.max(16 + stepStartTime - performance.now(),0))
}

function animationStepFill(){
	var stepStartTime = performance.now();
	var proportionOfAnimation = (stepStartTime - startTime) / animationDuration;
	if(proportionOfAnimation >= 1){
		targetElement.setAttribute('fill-opacity',1);
		return
	}
	targetElement.setAttribute('fill-opacity',proportionOfAnimation);
	setTimeout(animationStepFill,Math.max(16 + stepStartTime - performance.now(),0))
}

window.addEventListener("load", function() {
	startTime = performance.now()
	p = new Path(d);
	arrayOfSegments = p.canonicalForm;
	lengths = p.createArrayOfLengths();
	animationStepOutline()
})
</script>
