---
title: Sessions

stylesheets:
- /styles/sessions-styles.css

term: Michelmas 2020

startDate: Sunday 11th October
endDate: Saturday 5th December



sessions:
- day: Monday
  time: "17:45-18:45" 
  location: "Iffley Road - Acer Nethercott"
  participantString: "Clubnight"
  participants:
  - Clubnight

- day: Monday
  time: "18:00-19:30"
  location: "St Gregory the Great Catholic School"
  participantString: "Squad"
  participants:
  - M2
  - M3

- day: Monday
  time: "19:30-21:00"
  location: "St Gregory the Great Catholic School"
  participantString: "Squad"
  participant:
  - M1
  - W1

- day: Tuesday
  time: "11:45-13:30"
  location: "Iffley Road - Acer Nethercott"
  participantString: "Squad"
  participants:
  - M1
  - W1
  - M2
  - W2
  - M3

- day: Tuesday
  time: "17:30-19:30"
  location: "St Gregory the Great Catholic School"
  participantString: "Squad"
  participants:
  - W2
  - M3
 
- day: Wednesday
  time: "19:15-20:15"
  location: "Iffley Road - Acer Nethercott"
  participantString: "Clubnight"
  participants:
  - Clubnight

- day: Friday
  time: "17:00-18:00"
  location: "Iffley Road - Acer Nethercott"
  participantString: "Squad"
  participants:
  - M1
  - W1
  - M2
  - W2
  - M3

- day: Saturday
  time: "11:30-12:30"
  location: "Iffley Road - Acer Nethercott"
  participantString: "Clubnight"
  participants:
  - Clubnight
  
- day: Saturday
  time: "15:00-16:30"
  location: "St Gregory the Great Catholic School"
  participantString: "Squad"
  participants:
  - W1
  - W2

- day: Saturday 
  time: "16:30-18:00"
  location: "St Greogry the Great Catholic School"
  participantString: "Squad"
  participants:
  - M1
  - M2









---
<script>

var sessionsToShow = ['Clubnight','M1','M2','M3','W1','W2','placeholder'];

function toggleAllSessions(){
  var toggles = [];
  var options = ['Clubnight','M1','M2','M3','W1','W2'];
  toggles.push(document.getElementById("clubnight-checkbox"));
  toggles.push(document.getElementById("m1-checkbox"));
  toggles.push(document.getElementById("m2-checkbox"));
  toggles.push(document.getElementById("m3-checkbox"));
  toggles.push(document.getElementById("w1-checkbox"));
  toggles.push(document.getElementById("w2-checkbox"));
  var elem = document.getElementById("toggle-all");
  var i;
  if (sessionsToShow.length > 1){
    for (i = 0; i < toggles.length; i++){
      if (toggles[i].checked){
        toggles[i].checked = false;
        sessionsToShow.splice(sessionsToShow.indexOf(options[i]),1);
      }
    }
    elem.innerHTML = "SHOW ALL";
  }else{
    for (i = 0; i < toggles.length; i++){
      if (!toggles[i].checked){
        toggles[i].checked = true;
        sessionsToShow.push(options[i]);
      }
    }
    elem.innerHTML = "HIDE ALL";
  }

  var potentialElementsToToggle = document.getElementsByClassName('session');
  for(var i =0;i<potentialElementsToToggle.length;i++){
    if (new RegExp(sessionsToShow.join("|")).test(potentialElementsToToggle[i].dataset.type)) {
      potentialElementsToToggle[i].style.display= "block";
    }else{
      potentialElementsToToggle[i].style.display= "none"
    }
  }
}

function toggleSessions(team, checked){
  var potentialElementsToToggle = document.getElementsByClassName('session');
  if(checked){
    sessionsToShow.push(team);
  }else{
    sessionsToShow.splice(sessionsToShow.indexOf(team),1);
  }
  for(var i =0;i<potentialElementsToToggle.length;i++){
    if (new RegExp(sessionsToShow.join("|")).test(potentialElementsToToggle[i].dataset.type)) {
      potentialElementsToToggle[i].style.display= "block";
    }else{
      potentialElementsToToggle[i].style.display= "none"
    }
  }

  var elem = document.getElementById("toggle-all");
  if (sessionsToShow.length > 1){
    elem.innerHTML = "HIDE ALL";
  }else{
    elem.innerHTML= "SHOW ALL";
  }

}
</script>

<h2>Sessions - {{page.term}}</h2>
<p><strong>Please note that to attend any session you must have previsouly booked.</strong> For Clubnight please book through <a href="https://www.teamapp.com/clubs/540849?_webpage=v1">Team App</a>. For Squad players please put your name on the spreadsheet that has been shared.</p>
<div id="checkboxes">
  <input type="checkbox" id="clubnight-checkbox" onchange="toggleSessions('Clubnight',this.checked)" checked="checked" />
  <label for="clubnight-checkbox">Clubnight</label>
  <input type="checkbox" id="m1-checkbox" onchange="toggleSessions('M1',this.checked)" checked="checked"/>
  <label for="m1-checkbox">M1</label>
  <input type="checkbox" id="m2-checkbox" onchange="toggleSessions('M2',this.checked)" checked="checked"/>
  <label for="m2-checkbox">M2</label>
  <input type="checkbox" id="m3-checkbox" onchange="toggleSessions('M3',this.checked)"checked="checked"/>
  <label for="m3-checkbox">M3</label>
  <input type="checkbox" id="w1-checkbox" onchange="toggleSessions('W1',this.checked)"checked="checked"/>
  <label for="w1-checkbox">W1</label>
  <input type="checkbox" id="w2-checkbox" onchange="toggleSessions('W2',this.checked)"checked="checked"/>
  <label for="w2-checkbox">W2</label>
  <button id="toggle-all" class="button-small" onclick="toggleAllSessions(this)">HIDE ALL</button>
</div>
<div id="sessions-container" style="display: flex;">
  {% for session in page.sessions %}
  <div class="card session" data-type="{{session.participants}}" style="width: 390px;">
    <h3 class="session-title" >{{session.day}}</h3>
    <div class="session-graphic-container">
      <img src="/assets/logo/logo-white.svg" class="session-graphic">
    </div>
    <table class="session-profile">
      <tr>
        <td>Type:</td>
        <td>
          {{session.participantString}}
        </td>
      </tr>
      <tr>
        <td>Time:</td><td>{{session.time}}</td>
      </tr>
      <tr>
        <td>Location:</td><td> {{session.location}}</td>
      </tr>
     <!--  <tr>
        <td>Number of Courts:</td><td>{{session.numberOfCourts}}</td>
      </tr> -->
      <!-- <tr>
        <td>Notes:</td><td></td> -->
    </table>
    <ul class="sessions-exceptions-list">
      {% for exception in session.exceptions %}
      <li>{{exception}}</li>
      {% endfor %}
    </ul>
  </div>
    {% endfor %}
</div>





  <div>
    <h2>Maps</h2>
    <div style="padding: 0;" class="card">
      <div id="tabs-container">
        <div id="indicator"></div>
        <h3 id="initialSelector" class="location-option selected" onclick="changeSource(this,'https://www.google.com/maps/embed/v1/place?q=place_id:ChIJa__vp0zBdkgRtBpLdcJmdHQ&key=AIzaSyBbP4-PatrW0kkOAeEgmK1OaOscrpbmmC4&zoom=15',1)">Iffley Road</h3>
        <h3 class="location-option"  onclick="changeSource(this,'https://www.google.com/maps/embed/v1/place?q=place_id:ChIJudv5UD_BdkgR7EXDP25ZylE&key=AIzaSyBbP4-PatrW0kkOAeEgmK1OaOscrpbmmC4&zoom=15',2)">St Gregory the Great Catholic School</h3>
      </div>
      <div id="map-container">
        <div id="loading" class="loading"></div>
        <iframe id="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJa__vp0zBdkgRtBpLdcJmdHQ&key=AIzaSyBbP4-PatrW0kkOAeEgmK1OaOscrpbmmC4&zoom=15" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <iframe src="" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  <script>

  var oldElement = document.getElementById("initialSelector");
  var indicator = document.getElementById('indicator');;
  var numberOfElements = document.getElementById('tabs-container').children.length -1;
  var iFrame = document.getElementById("map");

  function changeSource(elem,newSource,position){
    while (iFrame.firstChild) {
      iFrame.removeChild(iFrame.firstChild);
    }
    iFrame.src = newSource;
    oldElement.classList.remove("selected");
    elem.classList.add("selected");

    indicator.style.transform = "translateX("+100*(position-1)+"%)";
    indicator.style.webkitTransform = "translateX("+100*(position-1)+"%)";
    oldElement = elem;


  }
  </script>

  <div>
    <h2>Calendar</h2>
    <div class="responsive-iframe-container">
      <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=ebij6s0ooplap10pv6gdccchqg%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=Europe%2FLondon" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
