---
title: The Committee
layout: default
stylesheets:
 - /styles/committee-styles.css
members: 
 - role: President
   name: Joe Skornia
   email: joseph.skornia@magd.ox.ac.uk
   comment: JoeSko is a 4th year chemist at Magdalen who will bring his unique brand of power badminton to the President's office as he aims to grind down SportsFed and Cambridge over his three terms. Known for his ability to unwittingly charm friends and enemies alike in a dazzling whirlwind of Chardonnay, breakfast tea and machismo, Joe is the man looking to lead the Club to a 5th consecutive Varsity win at Iffley Road in 2016.
   photo: /assets/the-committee/2015-2016/Joe-Sko.jpg
   alt: Joe Skornia
 - role: Vice President
   name: Alex Cloake 
   email: alexander.cloake@bnc.ox.ac.uk
   comment: Alex is a 4th year biochemist who is affiliated with the home of badminton, Brasenose College. Hailing from such a prestigious college in the badminton world, Alex certainly had great pressure on his shoulders right from the very beginning. However, he has not disappointed. His flourishing career as part of OUBaC has progressed at an almighty speed, and following his stint as a captain last year, he now finds himself in this illustrious role. Alex and Joe will work together to make sure OUBaC goes from strength to strength this year.
   photo: /assets/the-committee/2015-2016/Alex.jpg
   alt: Alex Cloake
 - role: Treasurer
   name: Ben Mynors-Wallis 
   email: benjamin.mynors-wallis@st-annes.ox.ac.uk
   comment: Ben 'BMW' Mynors-Wallis, a second year Biochemist at Annes, will be looking to keep a tight rein on the clubs finances this year. On the court Ben shows no mercy with a cannon smash and demoralising opponents with persistent drop shots. This year he is hoping to transfer these skills to the OUBaC office, hopefully being just as ruthless in collecting payments, ordering shuttles and sorting receipts.
   photo: /assets/the-committee/2015-2016/Ben-MW.jpg
   alt: Ben Mynors-Wallis 
 - role: Secretary
   name: Sarah Toh
   email: sarah.toh@jesus.ox.ac.uk
   comment: Sarah Toh is a third year geographer at Jesus College. After successfully leading the Women's 2nds last year, she's swapping squad sheets for spreadsheets as this year's secretary. She organises local league fixtures and Badminton England registration, as well as sorting out the wealth of paperwork that comes OUBaC's way.
   photo: /assets/the-committee/2015-2016/Sarah.jpg
   alt: Sarah Toh
 - role: Men's 1st Team Captain
   name: George Heinemann
   email: george.heinemann@wadh.ox.ac.uk
   comment: Fresh from missing every BUCS match last season through injury George, a fourth year EEM student, has been given a second chance as captain to right his wrongs... and play. The squad can look forward to many more runs and circuit sessions, whilst George can look ahead to the challenge of dealing with an ageing team!
   photo: /assets/the-committee/2015-2016/George.jpg
   alt: George Heinemann
 - role: Women's 1st Team Captain
   name:  Rachael Kershaw 
   email: rachael.kershaw@mansfield.ox.ac.uk
   comment: Rachael takes the reins of the Women's Blues team this year and with it all the fluctuating luck that comes with the squad. An exceedingly northern third year geographer from Mansfield, she's fresh from huge success as mixed captain last year, obliterating Cambridge at Mixed Varsity and narrowly missing out on top spot in the Oxfordshire league. Now a new, improved Kersh with an almost fully-functional shoulder joint, she will be looking to bolster the team's position in the league, bubble wrap most of her players and, most importantly, take on new recruits with at least a year's driving experience. No doubt she'll whip the ladies into shape and carry on the tradition of massive Varsity wins. 
   photo: /assets/the-committee/2015-2016/Rachael.jpg
   alt: Rachael Kershaw 
 - role: Men's 2nd team Captain
   name: Kunz Chow
   email: kunz.chow@seh.ox.ac.uk
   comment: Kunz is a third year engineer at Teddy hall. With a helicopter licence under his belt, rumour has it that he has plans for a Second team Chinook (let's hope Ben doesn't put the subs up!). We can expect head flicks, high lifts, one sleeve rolled up and bodged duct tape wing mirrors (but trust him, he's an engineer). Kunz looks to build upon a 'solid' mid table finish; let's hope he plans trainings better than his own route to Park A.
   photo: /assets/the-committee/2015-2016/Kunz.jpg
   alt:  Kunz Chow
 - role: Women's 2nd Team Captain
   name: Louisa Britton 
   email: louisa.britton@magd.ox.ac.uk
   comment: Louisa, a 3rd year chemist at Magdalen College, is a cheerful and friendly member of the team who has shown great commitment throughout the past year. Fresh off a great result at varsity, we are sure she'll do a great job leading the team in next year's league and varsity campaign.
   photo: /assets/the-committee/2015-2016/Louisa.jpg
   alt:  Louisa Britton
 - role: Men's 3rd Team Captain
   name: Shaun Tang
   email: shaun.tang@univ.ox.ac.uk
   comment: Taking charge of the Men's 3rd team this year is Shaun 'Whey' Tang, a 4th year engineer at Univ. He played a key role in both the successful promotion campaign in the local league and a second consecutive varsity victory for the 3rd team last year. Shaun will be looking to cement the team's place in the top flight of the Oxfordshire badminton league and push for a 3rd varsity win in a row using his now familiar strategy of wearing t-shirts that are far too tight and spending more time in the gym than is conceivably necessary for any badminton player.
   photo: /assets/the-committee/2015-2016/Shaun.jpg
   alt: Shaun Tang 
 - role: Mixed Team Captain
   name: Claire Weaver
   email: claire.weaver@univ.ox.ac.uk
   comment: Claire, a 3rd year Medic at Univ, was born ready for mixed captaincy. Weavs is best known for her undefeatable record and an adeptness for collecting eggs from her opposition that rivals the Easter Bunny. Fuelled by her legendary baked goods, the team will no doubt have a very successful season with Claire to lead them.
   photo: /assets/the-committee/2015-2016/Claire.jpg
   alt:  Claire Weaver
 - role: Alumni Rep
   name: Chris Lim
   email: christopher.lim@univ.ox.ac.uk
   comment: Chris "Tetchy" Lim is the Mona Lisa of the badminton club; he not only keeps a close eye on all aspects of OUBaC business, but he is also significantly smaller than expected in real life and really, really old. Known for his consistency on court and his love of the lash off court, Chris will once again be following in the footsteps of OUBaC legend Al (Reedo) Reed. With big shoes to fill, Chris will be managing all things alumni related including the annual match and dinner.
   photo: /assets/the-committee/2015-2016/Chris.jpg
   alt:  Chris Lim
 - role: Entz Reps
   name:  Bertina Ho and Ben Hartridge 
   email: bertina.ho@st-annes.ox.ac.uk
   comment: Ben and Bertina are no strangers to the OUBaC social scene. With an impressive record for attendance and enthusiasm, this duo will make sure that Badminton becomes the most desirable crew date on offer for any other sports team. However, let us all hope that the bar crawls neither start nor end at the mighty Anne's. With these two at the helm, members of OUBaC are in for an exciting year!
   photo: /assets/the-committee/2015-2016/Ben-and-Bertina.jpg
   alt:  Bertina Ho and Ben Hartridge 
 - role: Clubnight Director
   name: Henrik Jacobsen 
   email: henrik.jacobsen@bnc.ox.ac.uk
   comment: I started playing badminton when I was in high school and my enthusiasm for it has been growing ever since. I think club nights are a great way to meet new people and enjoy many fun games with players of all varieties. Here in Oxford I am doing a two-year MPhil in political science. During my leisure time, I like to eat chocolate, meet with friends, and play badminton (of course!).
   photo: /assets/the-committee/2015-2016/Henrik.jpg
   alt: Henrik Jacobsen 
 - role: League and Cuppers Secretary
   name: Joe Manktelow 
   email: joseph.manktelow@mansfield.ox.ac.uk
   comment: When the SJC/MC college co-captaincy had to be reluctantly relinquished, Joe Manktelow's power-hungry brain began looking for other victims to “organise”. Armed with a potent arsenal of strongly worded emails, a ruthless new era of militant efficiency shall dawn upon the league and cuppers system. College captains beware!
   photo: /assets/the-committee/2015-2016/Joe-Manktelow.jpg
   alt: Joe Manktelow 
 - role: IT Officer
   name: Tom Johnston
   email: thomas.johnston@lmh.ox.ac.uk
   comment: Looking for something to do between playing badminton and trips to the pub, Tom, a 2nd year mathematician at LMH, has taken up the role of IT Officer.  A strong critic of websites cutting corners and missing the small details, it will be interesting to see how he fares when he has to maintain one himself. 
   photo: /assets/the-committee/2015-2016/Tom.png
   alt: Tom Johnston

---
{% for member in page.members %}
<div class="role-container"> 
	<h2 class="role">
	{{member.role}}: {{member.name}}
	</h2>
	<a class="email" href="mailto:{{member.email}}"><span class="aligner"></span>{{member.email}}</a> 
	<div class="divider"></div>
	{% assign mod2 = forloop.index|modulo:2 %}
	{% if mod2 == 0 %}
		<img class="profile-picture" src="{{member.photo}}" alt = "{{member.alt}}" style="float:right;"/>
	{% else %}
		<img class="profile-picture" src="{{member.photo}}" alt = "{{member.alt}}" style="float:left;"/>
	{% endif %}
	<p>
		{{member.comment}}
	</p>
</div>
{% endfor %}
