<div class="horizontal-lines">
  {% for i in (1...include.num) %}
  <div class="horizontal-line"></div>
  {% endfor %}
</div>
<div class="vertical-lines">
  <div class="blank"></div>
  {% assign hnum = include.num |divided_by: 2 %}
  {% assign blank_num = hnum |minus: 1 %}
  {% for i in (1...blank_num) %}
  <div class="vertical-line"></div>
  <div class="double-blank"></div>
  {% endfor %}
  <div class="vertical-line"></div>
  <div class="blank"></div>
</div>
<div class="horizontal-lines">
  {% for i in (1...hnum) %}
  <div class="horizontal-line"></div>
  {% endfor %}
</div>
