<link rel="stylesheet" type="text/css" href="/styles/profiles-styles.css"/>
<div style="display:flex; justify-content: center; flex-wrap: wrap;">
	{% for member in page.squad %}
	<div class="card profile-card">
		<img class="picture" src="{{page.path}}{{member.img}}" alt="{{member.name}}">
		<div>
			<div>
				<h2 class="card-title"> {{member.name}}</h2>
				<h3 class="subhead">({{member.nickname}})</h3>
			</div>
			<table class="profile">
				<tr>
					<td>Team</td>
					<td>{{page.team}}</td>
				</tr>
				<tr>
					<td>College</td>
					<td>{{member.college}} <img src="/assets/colleges/{{member.college-img}}" class="college-crest" alt="{{member.college}}"></td>
				</tr>
				<tr>
					<td>Subject</td>
					<td>{{member.subject}}</td>
				</tr>
				<tr>
					<td>Matriculation Year</td>
					<td>{{member.matriculation-year}}</td>
				</tr>
				<tr>
					<td>Height:</td>
					<td>{{member.height}}</td>
				</tr>
				<tr>
					<td>Varsity History</td>
					<td>
						<table class="sub-table">
							{% for team in member.varsity-history %}
							<tr>
								<td>{{team.name}}</td>
								<td>{{team.years}}</td>
							</tr>
							{% endfor %}
						</table>
					</td>
				</tr>
				<tr>
					<td>Varsity Record</td>
					<td>{{member.varsity-record}}</td>
				</tr>
				<tr>
					<td>Known for</td>
					<td><ul class="sub-list">
						{% for trait in member.known-for %}
						<li>{{trait}}</li>
						{% endfor %}
					</ul></td>
				</tr>
			</table>
		</div>
	</div>
	{% endfor %}
</div>
