<nav id="navigation-drawer" class="side-nav">
	<div class="side-nav-wrapper" >
		<a href="/index.html" ><img src="/assets/logo/logo-white.svg" class="side-nav-logo" alt="OUBaC Logo"/></a>
		<ul>
			<li><a href="/index.html">Latest News</a></li>
			<li>
				<label for="The-Club" class="side-nav-label">The Club +</label>
				<input id="The-Club" type="checkbox" style="display:none">
				<ul class="side-nav-expand-menu">
					<li><a href="/the-club.html" >About the Club</a></li>
					<li><a href="/clubnight.html" >Clubnight</a></li> 
					<li><a href="/squad.html" >Squad</a></li>
					<li><a href="/the-committee.html" >The Committee</a></li>
				</ul>
			</li>
			<li><a href="/sessions.html" >Sessions</a></li>
			<li>
				<label for="League-and-Cuppers" class="side-nav-label">League & Cuppers +</label>
				<input id="League-and-Cuppers" type="checkbox" style="display:none">
				<ul class="side-nav-expand-menu">
					<li><a href="/college-captains.html" >College Captains</a></li>
				</ul>
			</li>
			<li>
				<label for="Alumni" class="side-nav-label">Alumni +</label>
				<input id="Alumni" type="checkbox" style="display:none">
				<ul class="side-nav-expand-menu">
					<li><a href="/oubac-in-the-1950s.html" >OUBaC in the 1950s</a></li>
					<li><a href="/donating-to-oubac.html" >Donating to OUBaC</a></li> 
				</ul>
			</li>
			<li><a href="/archive.html" >Archive</a></li> 
		</ul>
		<div id="side-nav-social-links">
			<a href="https://github.com/OUBaC"  target="_blank"><img src="/assets/GitHub-Logo.svg" id="github-logo" alt="OUBaC GitHub Page"/></a> 
			<a href="https://www.facebook.com/OUBaC"  target="_blank" ><img src="/assets/Facebook-Logo.svg" id="facebook-logo" alt="OUBaC Facebook Page"/></a>
			<a href="https://twitter.com/OUBaC"  target="_blank"><img src="/assets/Twitter-Logo.svg" id="twitter-logo" alt="OUBaC Twitter Feed"/></a> 
		</div>
	</div>
</nav>
<div id="small-grey-out" onclick="hideSideNav()"></div>