<header>
	<div id="social-links">
		<a href="https://github.com/OUBaC"  target="_blank"><img src="/assets/GitHub-Logo.svg" id="github-logo" alt="OUBaC GitHub Page"/></a> 
		<a href="https://www.facebook.com/OUBaC"  target="_blank" ><img src="/assets/Facebook-Logo.svg" id="facebook-logo" alt="OUBaC Facebook Page"/></a>
		<a href="https://twitter.com/OUBaC"  target="_blank"><img src="/assets/Twitter-Logo.svg" id="twitter-logo" alt="OUBaC Twitter Feed"/></a> 
	</div>
	<img src="/assets/hamburger.svg" id="side-nav-trigger" class="side-nav-trigger" onclick="expandSideNav()" />
	<a href="/index.html" ><img src="/assets/logo/logo-oxford-blue-white-background.svg" id="top-nav-logo" class="top-nav-logo" alt="OUBaC Logo"/></a>
	<h1>{{page.title}}</h1>
	<nav id="top-nav" class="top-nav">
		<ul>
			<a href="/index.html"><li>Latest News</li></a>
			<li><label>The Club</label>
				<ul class="drop-down-menu">
					<a href="/the-club.html" ><li>About the Club</li></a>
					<a href="/clubnight.html" ><li>Clubnight</li></a> 
					<a href="/squad.html" ><li>Squad</li></a>
					<a href="/the-committee.html" ><li>The Committee</li></a>
				</ul>
			</li>
			<a href="/sessions.html" ><li>Sessions</li></a>
			<li><label>League & Cuppers</label>
				<ul class="drop-down-menu">
					<a href="/college-captains.html" ><li>College Captains</li></a>
				</ul>
			</li>
			<li><label>Alumni</label>
				<ul style="width:200%" class="drop-down-menu">
					<a href="/oubac-in-the-1950s.html" ><li>OUBaC in the 1950s</li></a>
					<a href="/donating-to-oubac.html" ><li>Donating to OUBaC</li></a> 
				</ul>
			</li>
			<a href="/archive.html" ><li>Archive</li></a>
		</ul>
	</nav>
</header>