<header id="header">
	<a href="/index.html" ><img src="/assets/logo/logo-oxford-blue-white-background.svg" id="top-nav-logo" class="top-nav-logo" alt="OUBaC Logo"/></a>
	<div id="social-links">
		<a href="https://www.facebook.com/OUBaC"  target="_blank" rel="noopener" ><img src="/assets/facebook-logo.svg" class="social-logo"  alt="OUBaC Facebook Page"/></a>
		<a href="https://www.instagram.com/oxford_university_badminton/"  target="_blank" rel="noopener" ><img src="/assets/instagram-logo.svg" class="social-logo" alt="OUBaC Instagram Page"/></a>
		<a href="https://twitter.com/OUBaC"  target="_blank" rel="noopener"><img src="/assets/twitter-logo.svg" class="social-logo" alt="OUBaC Twitter Feed"/></a>
	</div>
	<div id="force-to-bottom" class="force-to-bottom">
	<div id ="top-nav-container" class="top-nav-container">
		<img src="/assets/hamburger.svg" id="side-nav-trigger" class="side-nav-trigger" onclick="expandSideNav()" alt="Open Navigation Menu"/>
		<h1 class="title">{{page.title}}</h1>
		<nav id="top-nav" class="top-nav">
			<ul>
				<li><a href="/latest-news/index.html">Latest News</a></li>
				<li class="drop-down"><label>The Club</label>
					<ul class="drop-down-menu">
						<li><a href="/the-club.html" >About the Club</a></li>
						<li><a href="/clubnight.html" >Clubnight</a></li>
						<li><a href="/squad.html" >Squad</a></li>
						<li><a href="/the-committee.html" >The Committee</a></li>
					</ul>
				</li>
				<li><a href="/welfare.html">Welfare</a></li>
				<li><a href="/sessions.html" >Sessions</a></li>
				<li class="drop-down"><label>League & Cuppers</label>
					<ul class="drop-down-menu">
						<li><a href="/cuppers.html" >Cuppers</a></li>
						<li><a href="/college-captains.html" >College Captains</a></li>
						<li><a href="/rules.html" >Rules</a></li>
					</ul>
				</li>
				<li class="drop-down"><label>Alumni</label>
					<ul class="drop-down-menu">
						<li><a href="/oubac-in-the-1950s.html" >OUBaC in the 1950s</a></li>
						<li><a href="/donating-to-oubac.html" >Donating to OUBaC</a> </li>
					</ul>
				</li>
				<li><a href="/archive.html" >Archive</a></li>
				
			</ul>
		</nav>

	</div>
</div>
</header>
