<header>
	<div id="social-links">
		<a href="https://github.com/OUBaC"  target="_blank"><img src="/assets/GitHub-Logo.svg" class="social-logo" alt="OUBaC GitHub Page"/></a> 
		<a href="https://www.facebook.com/OUBaC"  target="_blank" ><img src="/assets/Facebook-Logo.svg" class="social-logo"  alt="OUBaC Facebook Page"/></a>
		<a href="https://twitter.com/OUBaC"  target="_blank"><img src="/assets/Twitter-Logo.svg" class="social-logo" alt="OUBaC Twitter Feed"/></a> 
	</div>
	<img src="/assets/hamburger.svg" id="side-nav-trigger" class="side-nav-trigger" onclick="expandSideNav()" alt="Open Navigation Menu"/>
	<a href="/index.html" ><img src="/assets/logo/logo-oxford-blue-white-background.svg" id="top-nav-logo" class="top-nav-logo" alt="OUBaC Logo"/></a>
	<h1>{{page.title}}</h1>
	<nav id="top-nav" class="top-nav">
		<ul>
			<li><a href="/index.html">Latest News</a></li>
			<li><label>The Club</label>
				<ul class="drop-down-menu">
				<li><a href="/the-club.html" >About the Club</a></li>
				<li><a href="/clubnight.html" >Clubnight</a></li>
				<li><a href="/squad.html" >Squad</a></li>
				<li><a href="/the-committee.html" >The Committee</a></li>
				</ul>
			</li>
			<li><a href="/sessions.html" >Sessions</a></li>
			<li><label>League & Cuppers</label>
				<ul class="drop-down-menu">
				<li><a href="/college-captains.html" >College Captains</a></li>
				<li><a href="/rules.html" >Rules</a></li>
				</ul>
			</li>
			<li><label>Alumni</label>
				<ul style="width:200%" class="drop-down-menu">
				<li><a href="/oubac-in-the-1950s.html" >OUBaC in the 1950s</a></li>
				<li><a href="/donating-to-oubac.html" >Donating to OUBaC</a> </li>
				</ul>
			</li>
		<li><a href="/archive.html" >Archive</a></li>
		</ul>
	</nav>
</header>