<div id="popup" class="popup card">
  <div id="close" class="close" onclick="hideElement(this.parentElement)">&times</div>
  <h2 style="margin-top: 0">Squad Trials</h2>
  <p>Trials for the squad will be held this weekend at Iffley Road Sports Centre.</p>

  <p>
  	<b>Men:</b> 14:00-16:00 Saturday 8th October<br>
  </p>
  <p>
  	<b>Women:</b> 14:00-15:30 Sunday 9th October
  </p>

  <p>Please bring your racket if you have one, but there will be some provided if not. Also, make sure that you arrive before the session begins, as we have a limited amount of time available!</p>

</div>
