<div id="popup" class="popup card">
  <div id="close" class="close" onclick="hideElement(this.parentElement)">&times</div>
  <h2 style="margin-top: 0">Squad Trials</h2>
  <p>Trials for the squad will be held on the weekend between 0th week and 1st week at Iffley Road Sports Centre.</p>

  <p>
  	<b> Men:</b> 11:30-13:30 - Saturday 6th October - <a href="https://www.facebook.com/events/622721328129358">Facebook Event</a>
  </p>
  <p>
  	<b>Women:</b> 13:30-15:30 - Sunday 7th October - <a href="https://www.facebook.com/events/406354549899419">Facebook Event</a>
  </p>
  <p>Please bring your racket if you have one, but there will be some provided if not. Also, make sure that you arrive before the session begins, as we have a limited amount of time available!</p>

</div>
