table {
	border-collapse: collapse;
	box-sizing: border-box;
	margin: 20px 0;
	width: 100%;
}

tr{
	border: 2px solid $primary-colour;
	overflow: hidden;
}

tr:hover{
	background-color:#EEEEEE;
}

th {
	background-color: #002147;
	color: white;
	font-weight: normal;
	padding: 15px;
	text-align: center;
	vertical-align: middle;

	&:first-of-type {
		text-align: left;
	}
}

th[scope="row"] {
	color: black;
	background-color: transparent;
}

td {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.sortable {
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.up::after {
		content: ' \25B2';
		display: inline-block;
		font-size: 15px;
		padding-left: 5px;
		position: absolute;
		transform: scale(1,0.5);
		transform-origin: top;
}

.down::after {
	content: ' \25BC';
	display: inline-block;
	font-size: 15px;
	padding-left: 5px;
	position: absolute;
	transform: scale(1,0.5);
	transform-origin: bottom;
}



td[data-title]:before {
	content: none;
	float: left;

	@media only screen and (max-width: $critical-value),(max-width: $print-critical-value){
		content: attr(data-title);
    color: rgba(0,0,0,0.54);
    margin-right: 10px;
	}
}

@media only screen and (max-width: $critical-value), (max-width: $print-critical-value){

	thead {
		display: none;
	}

	tbody,
	tr,
	th,
	td {
		display: block;
		text-align: right;

	}

	tr{
		margin-bottom: 20px;
	}

	tr:hover{
		background-color: transparent;
	}

	th[scope="row"] {
		background-color: $primary-colour;
		color: white;
	}

	td{
		border: 1px solid $primary-colour !important;
	}
	
	td:hover{
		background-color: #EEEEEE;
	}
}
