$primary-colour: #002147;
$accent-colour: #3277AE;
$error-colour: #F47738; //This is the colour of the text for the archive warning.

$button-colour: lighten(#033,10%);
$button-hover-colour: lighten($button-colour, 15%);

$h2-font-size: 2rem;

$large-header-height: 150px;
