---
title: Latest News
stylesheets:
- /styles/latest-news-styles.css
---
<div id="posts">
	{% for post in paginator.posts %}
	<div class="post">
		<h2 class="title"><a class="title-link" href="{{post.url}}">{{post.title}}</a></h2>
		<span class="date">{{ post.date | date_to_long_string }}</span>
		{{post.content}}
	</div>
	{% endfor %}
</div>

<div class="pagination-links">
	<ul class="pagination-links-list">
		{% if paginator.previous_page %}
		<li class="step-page"><a href="{{ paginator.previous_page_path }}">&lsaquo;</a></li>
		{% else %}
		<li class="step-page disabled">&lsaquo;</li>
		{% endif %}

		{% if paginator.page <  6 %}
		{% assign start = 1 %}
		{% else %}
		{% assign start = paginator.page|minus: 5 %}
		{% endif %}

		{% assign cutoff = paginator.total_pages|minus: 5 %}
		{% if paginator.page >  cutoff %}
		{% assign end = paginator.total_pages %}
		{% else %}
		{% assign end = paginator.page|plus: 5 %}
		{% endif %}

		{% for page in (start..end) %}
		{% if page == paginator.page %}
		<li class="active"><a href="#">{{page}}</a></li>
		{% elsif page == 1 %}
		<li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
		{% else %}
		<li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
		{% endif %}
		{% endfor %}

		{% if paginator.next_page %}
		<li class="step-page"><a href="{{ paginator.next_page_path }}">&rsaquo;</a></li>
		{% else %}
		<li class="step-page disabled">&rsaquo;</li>
		{% endif %}
	</ul>
</div>
