<!DOCTYPE html>
<html>
	<head>
		{% include head-inner.html %}
		<title>{{page.title}} - OUBaC</title>
		<link rel="stylesheet" type="text/css" href="/styles/stylesheet.css"/>
		<link rel="stylesheet" type="text/css" media="print" href="/styles/print-styles.css"/>
		{% for stylesheet in page.stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{stylesheet}}"/>
		{% endfor %}
	</head>
	<body onscroll="scrollAdjuster()">
		{% include top-nav.html %}
		{% include side-nav.html %}
		<div class="content">
		{{content}}
		</div>
	</body>
</html>
