<!DOCTYPE html>
<html>
	<head>
		{% include google-analytics-code.html %}
		<title>{{page.title}} - OUBaC</title>
		<link rel="stylesheet" type="text/css" href="/styles/stylesheet.css"/>
		<link rel="stylesheet" type="text/css" media="print" href="/styles/print-styles.css"/>
		{% for stylesheet in page.stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{stylesheet}}"/>
		{% endfor %}
		{% include head-inner.html %}
	</head>
	<body class="smaller" onscroll="scrollAdjuster()" onload="initialiseSideNav();">
		{% include home-top-nav.html %}
		{% include side-nav.html %}
		{{content}}
	</body>
</html>
