<!DOCTYPE html>
<html>
	<head>
		{% include google-analytics-code.html %}
		<title>O.U.Ba.C.</title>
		<link rel="stylesheet" type="text/css" href="/styles/stylesheet.css"/>
		<link rel="stylesheet" type="text/css" media="print" href="/styles/print-styles.css"/>
		<script type="text/javascript" src="/path.js"></script>
		{% for stylesheet in page.stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{stylesheet}}"/>
		{% endfor %}
		{% include head-inner.html %}
	</head>
	<body class="smaller">
		{% include home-top-nav.html %}
		{% include side-nav.html %}
		{{content}}
	</body>
</html>
