---
---
@import 'variables';
.button{
	background:$primary-colour;
	color:#fff;
	padding:5px 15px;
	font-size:24px;
	font-weight:bold;
	border-width:2px;
	border-style:solid;
	border-color:#fff;
	box-shadow: rgba(0, 0, 0, 0.258824) 2px 2px 2px 2px;
}
table{
	padding-left:15px;
	padding-right:15px;
}