---
---
@import 'variables';
.button
{
    font-size: 24px;
    font-weight: bold;

    padding: 5px 15px;

    color: #fff;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    background: $primary-colour;
    box-shadow: rgba(0, 0, 0, .258824) 2px 2px 2px 2px;
}
.winners td
{
    padding-right: 15px;
    padding-left: 15px;
}
