---
---
@import 'variables';
$critical-value: 600px;
$print-critical-value: 360px; //This number has been chosen such that the table looks fine across most of the paper sizes in Chrome's print preview.

.left{
	height: 2em;
	vertical-align: middle;
	-webkit-clip-path: inset(0 50% 0 0);
	clip-path: inset(0 50% 0 0);
	}

.right{
	position: absolute;
	height: 2em;
	vertical-align: middle;
	-webkit-clip-path: inset(0 0 0 50%);
	clip-path: inset(0 0 0 50%);
	transform:translateX(-100%);
	}

.border{
	border-width: 0;
	border-left-width: 1px;
	border-style: solid;
	border-color: rgba($primary-colour,0.5)
}

.captain{
	display: block;
}

.captains-table{
	max-width: 900px;
	white-space: nowrap;
}

@import 'responsive-table'
