---
---
@import 'variables';
$critical-value: 1000px;

.left{
	height: 2em;
	vertical-align: middle;
	-webkit-clip-path: inset(0 50% 0 0);
	clip-path: inset(0 50% 0 0);
	}
	
.right{
	position: absolute;
	height: 2em;
	vertical-align: middle;
	-webkit-clip-path: inset(0 0 0 50%);
	clip-path: inset(0 0 0 50%);
	transform:translateX(-100%);
	}
	
table {
	border-collapse: collapse;
	box-sizing: border-box;
	margin: 2%;
	width: 96%; 
}

tr{
	border: 2px solid $primary-colour;
	overflow: hidden;
}

tr:hover{
	background-color:#EEEEEE;
}

th {
	background-color: #002147;
	color: white;
	font-weight: normal;
	padding: 15px;
	text-align: center;
	vertical-align: middle;
	
	&:first-of-type {
		text-align: left; 
	}
}	

th[scope="row"] {
	color: initial;
	background-color: transparent;
}

td {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

td[data-title]:before {
	content: attr(data-title);
	float: left;
	
	@media only screen and (min-width: $critical-value + 1px ) {
		content: none; 
	}
} 

@media only screen and (max-width: $critical-value){
	
	thead {	
		display: none;
	}
	
	tbody,
	tr,
	th,
	td {
		display: block;
		text-align: right;
		
	}
	
	tr{
		margin-bottom: 20px;
	}
	
	tr:hover{
		background-color: transparent;
	}
	
	th[scope="row"] {
		background-color: $primary-colour;
		color: white;	
	}
	
	td{
		border: 1px solid $primary-colour;
		color: rgba(0,0,0,0.54)
	}
	td:hover{
		background-color: #EEEEEE;
	}
}
	
	
	
	
		