.role-container{
	overflow:hidden;
	}

.email{
	width:48%;
	text-align:right;
	display:inline-block;
}
.role{
	margin-bottom:0px;
	display:inline-block;
	width:48%;
	padding-left:2%;
	padding-right:0px;
	}
.profile-picture{
	width:150px;
	height:240px;
	float:left;
	padding:15px;
	}	