---
---
@import 'variables';

#committee-cards-container{
  font-size: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.comment-container{
  background-color: #033;
  bottom: 0;
  color: white;
  left: 0;
  margin: 0;
  opacity: 0.9;
  overflow: auto;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 0;
  vertical-align: middle;
  visibility: hidden;
  width: 100%;
  z-index: 2;
}

.comment{
  font-size: 110%;
  margin: 0;
  text-align: justify;
}

.role-name{
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.photo-section-container{
  display: inline-block;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.photo-container{
  background-position: center 30%;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.role-container-new{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-transition: boxshadow 0.3s;
          transition: boxshadow 0.3s;
  max-width: 100%;
  overflow: hidden;
  padding:0;
  padding-bottom: 1em;
  position: relative;
  width: 390px;
}



.role-container-new:hover{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.role-container-new:hover .comment-container{
  visibility: visible;
}
.role-container-new:hover .photo-container{
  opacity: 0.5;
}
