---
---
@import 'variables';

$critical-value: 450px;
$print-critical-value: 360px;

.match{
  display: block;
  margin: 10px 0;

}

.team{
  border: solid 2px $primary-colour;
  line-height: 2rem;
  padding-left: 1rem;
  position: relative;
}

.score{
  background-color: $primary-colour;
  color: white;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2rem;
}

.loser{
  color: grey;
}

.loser .score{
  background-color: grey;
}

.round{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.college{
  padding-right: 3rem;
  white-space: nowrap;
}

.cuppers-container{
  display: flex;
  overflow: auto;
  overflow-y: hidden;
}

@import 'responsive-table';
