---
---
@import 'variables';

h1{
  font-family: Canterbury, RobotoDraft, Roboto, sans-serif;;
  font-weight: normal;
}

svg{
  width:100%;
  height:100%;
}

.svg-layer{
  opacity: 1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.key-point{
  box-sizing: border-box;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  width: 33%;
}

.letter-in-circle{
  background-color: #002147;
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  color: white;
  display: block;
  font-size: 80px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  text-align: center;
  width: 100px;
}

#home-title{
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Canterbury;
  font-size: 10vw;
  font-weight: normal;
  margin: 0px;
  text-align: center;
  z-index: 1
}

#title-and-logo-container{
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

#title-and-logo-container,
#placeholder{
  height: 50vw;
  max-height: 50vh;
  margin-top: $large-header-height;
}

#container{
  height: 50vw;
  opacity: 0.5;
  -webkit-perspective: 200px;
          perspective: 200px;
  position: absolute;
  right: 0;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 50vw;
  z-index: 0;
}

#containerForRotation{
  -webkit-animation-duration:30s;
          animation-duration:30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#containerForRotation:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#key-point-container{
  font-size: 0;
  overflow: hidden;
  padding: 50px 0 0 0;
  text-align:center;
}

@-webkit-keyframes translateZ1{
  from{-webkit-transform: translateZ(0) scale(1,1);transform: translateZ(0) scale(1,1);}
  to{-webkit-transform: translateZ(2px) scale(0.99,0.99);transform: translateZ(2px) scale(0.99,0.99);}
}

@keyframes translateZ1{
  from{-webkit-transform: translateZ(0) scale(1,1);transform: translateZ(0) scale(1,1);}
  to{-webkit-transform: translateZ(2px) scale(0.99,0.99);transform: translateZ(2px) scale(0.99,0.99);}
}

@-webkit-keyframes spin{
  from{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  to{-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@keyframes spin{
  from{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  to{-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@font-face {
  font-family: Canterbury;
  src: url('/assets/Canterbury.ttf');
}

@media all and (max-width: 600px){
  .key-point{
    display: block;
    width: 100%;
  }
}
