---
---
@import 'variables';


header{
    background-color: transparent;
    -webkit-transition: none;
            transition: none;
            height: 70px;
}

.box-shadow{
  background-color: #002147;
}

h1{
  opacity: 0;
  font-family: Canterbury, RobotoDraft, Roboto, sans-serif;;
  font-weight: normal;
  -webkit-transition: none;
          transition: none;
}

.box-shadow h1{
  opacity: 1;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

.full-justify {
  text-align: justify;
}

.full-justify:after {
  content: "";
  display: inline-block;
  width: 100%;
}

#top-nav-logo{
  opacity: 0;
  -webkit-transition: none;
          transition: none;
}

.box-shadow #top-nav-logo{
  opacity: 1;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

.top-nav-container{
  background-color: transparent;
}

#social-links{
  display: none;
}

svg{
  width:100%;
  height:100%;
}

.svg-layer{
  opacity: 1;
  height: 100%;
  width: 100%;
  position: absolute;
}

#yonex-banner{
  height: 70px;
  position: relative;
}

#yonex-banner-blue{
  background-color: #0b50a1;
  height: 50%;
  position: absolute;
  top: 0;
  width: 100%;
}

#yonex-banner-green{
  background-color: #1d9533;
  bottom: 0;
  height: 50%;
  position: absolute;
  width: 100%;
}

#yonex-banner-logo{
  height: 100%;
  position: absolute;
  width: 100%;
}

.key-point{
  box-sizing: border-box;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  width: 33%;
}

.letter-in-circle{
  background-color: #002147;
  border-radius: 50%;
  color: white;
  display: block;
  font-size: 80px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  text-align: center;
  width: 100px;
}

.latest-news-card{
  margin: 5px;
  box-sizing: border-box;
  padding: 10px;
  max-width: 400px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.home-title-caption{
  color: #fff;
  text-align: justify;
  font-size: 2.5vw;
  //font-family: Canterbury;
  font-weight: normal;
  margin: 0;
}

.canterbury{
  font-family: Canterbury;
  font-size: inherit;
  font-size: 110%;
}

#title-and-logo-container{
  background-color: #002147;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

#title-and-logo-container,
#placeholder{
  box-sizing: content-box;
  height: 50vw;
  max-height: 50vh;
  padding-top: $large-header-height;
}

#container{
  height: 50vw;
  opacity: 0.5;
  position: absolute;
  right: 0;
  width: 50vw;
  top: calc(50% + #{$large-header-height} / 2 - 25vw);
  z-index: 0;
}

.svg-title{
  width: 40vw;
}

#key-point-container{
  font-size: 0;
  overflow: hidden;
  padding: 50px 0 0 0;
  text-align:center;
}

#latest-news-container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content:space-around;
  -ms-flex-pack:distribute;
  justify-content:space-around;
  padding: 20px;
}

#latest-news-card-container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@font-face {
  font-family: Canterbury;
  src: url('/assets/Canterbury.ttf');
}

@media all and (max-width: 600px){
  .key-point{
    display: block;
    width: 100%;
  }

  .svg-title{
    width: 60vw;
  }

  .home-title-caption{
    font-size: 3.75vw;
  }

}
