---
---
@import 'variables';

.post
{
  margin: 15px 0;
	overflow: hidden;
}

.title
{
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
}

.date
{
	display: block;
	margin: 0;
  overflow: hidden;
  text-align: right;
}

.active{
	background-color: $primary-colour;
	color: #fff;
	}

.step-page{
		font-size: 150%;
		font-weight: bold;
	}

.pagination-links-list{

		text-align: center;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		li{
			border-radius: 2px;
			display: inline-block;
			line-height: 30px;
			padding: 0;
			text-align: center;

			a{
				color: inherit;
				padding: 0 10px;
			}
		}

	}

.disabled{
		opacity: 0.3;
	}


@media all and (max-width: 950px)
{
    .title
    {
        float: none;
    }
    .date
    {
        text-align: left;
    }
}
