---
---
@import 'variables';

@import 'checkbox';

$tabs-animation-duration: 0.3s;

.location-option{
  align-self: center;
  cursor: pointer;
  -webkit-flex-basis:0px;
      -ms-flex-preferred-size:0px;
          flex-basis:0px;
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
      -ms-flex-positive:1;
          flex-grow:1;
  margin: 0;
  padding:10px;
  text-align:center;
  text-decoration: none;
  -webkit-transition: color $tabs-animation-duration ease-out;
          transition: color $tabs-animation-duration ease-out;

}

.location-option.selected{
  color: $accent-colour;
}

#indicator{
  background-color: $accent-colour;
  bottom: 0;
  height: 4px;
  left: 0;
  position: absolute;
  -webkit-transition: -webkit-transform $tabs-animation-duration ease-out;
          transition: transform $tabs-animation-duration ease-out;
  width: 33.33333%;
}

#map{
  height: 100%;
  width:100%;
  position:absolute;
  top:0;
}

#map-container{
  background-color: #E5E3DF;
  height: 600px;
  position:relative;
  max-height: 50vh;
  width:100%;
}

.day{
	margin-bottom:0px;
}

.exceptions{
	padding-left:20px;
	margin-top:0.5rem;
}

#tabs-container{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background-color: white;
	position: relative;
}

#loading{
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}


.session-profile{
  border-collapse: collapse;
  padding: 0;
  padding-top: 20px;
  margin: 0;
  width: 100%;
}


.session-profile td{
  box-sizing: border-box;
  padding: 5px 0;
  text-align: left;
  vertical-align: top;
}

.session-profile td:first-child{
  color: rgba(0,0,0,0.7);
}

.session-graphic-container{
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  background-color: #033;
  height: 100px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.session-graphic{
  height:150%;position: absolute; right: 0; bottom: 0;transform: translateX(40%) translateY(50%);
}

.session-title{
  text-decoration: none;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
  padding:0;
  position: absolute;
  color: #fff;
  z-index: 2;
}

.sessions-exceptions-list{
  padding: 0;
  margin: 0;
}
#sessions-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#checkboxes{
  text-align: center;
  padding-bottom: 20px;
}

@import 'responsive-google-calendar';

h3
{
    text-decoration: underline;
    font-size: 1rem;
}
