---
---
@import 'variables';


$small-header-height: 70px;

$large-title-height: 32px;
$small-title-height: 24px;

$large-hamburger-height: $large-title-height * 1.15;
$small-hamburger-height: $small-title-height * 1.15;

$top-nav-text-height: 20px;
$top-nav-text-padding: 10px;

$side-nav-vertical-padding: 10px;
$side-nav-horizontal-padding: 20px;

$social-links-height: 30px;

$change-width: 1360px;

$side-nav-drag-width: 5vw;

// Tags

*{
	font-size: 1rem;
	box-sizing: border-box;
}

html,
body{
	background: $background-colour;
	font-family: RobotoDraft, Roboto, sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
}

a{
	text-decoration: none;
}

a:link{
	color:#005EA5;
}

a:visited{
	color:#4C2C92;
}

a:hover{
	color:#2E8ACA;
}

img{
	box-sizing: border-box;
	max-width: 100%;
}

table {
	margin: 0 auto;
	text-align: center;
}

td{
	padding-left:15px;
	padding-right:15px;
}

ul{
	list-style-type: none;
}

li{
	padding: 5px;
}

h1{
	display: inline-block;
	flex-grow: 1;
	font-size: $large-title-height;
	font-weight: bold;
	padding-left: 0;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 0;
}

h2{
	color: $primary-colour;
	font-size: $h2-font-size;
	font-weight: normal;
	margin: 2rem 0 0.5rem 0 ;
}

h3{
	font-weight: bold;
}

header{
	background: $primary-colour;
	color: rgb(255, 255, 255);
	font-size: 0;
	height: $large-header-height;
	overflow: visible;
	position: fixed;
	top: 0;
	-webkit-transition: none;
	        transition: none;
	width: 100%;
	will-change: height, box-shadow;
	z-index: 100;
}

.box-shadow{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-webkit-transition: box-shadow 0.3s;
	        transition: box-shadow 0.3s;
}

a:nth-child(1) > li{
	border: none !important;
}

input:checked + ul{
	display: block;
	opacity: 1;
}

//Misc

.aligner{
	font-size: $h2-font-size;
}

.button {
	background-color: $button-colour;
	border: none;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	cursor: pointer;
	color: white;
	display: inline-block;
	font-size: 110%;
	letter-spacing: 0.5px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
	-webkit-tap-highlight-color: transparent;

	&:hover {
		background-color: $button-hover-colour;
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	}
}

.button-small{
	background-color: $background-colour;
	border: solid 1px;
	border-color: $button-colour;
	border-radius: 2px;
	cursor: pointer;
	color: $button-colour;
	display: inline-block;
	letter-spacing: 0.5px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
	-webkit-tap-highlight-color: transparent;

	&:hover {
		background-color: white;
		color: $button-hover-colour;
		border-color: $button-hover-colour;
	}
}

.centering{
	display: flex;
	justify-content: center;
}

.divider{
	background:rgba(0,0,0,0.12);
	height:1px;
	overflow:hidden;
	width:100%;
}

.vertical-divider{
	background:rgba(0,0,0,0.12);
	overflow:hidden;
	width: 2px;
}

.card{
	background: white;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px;
	box-sizing: border-box;
	margin: 10px 5px;
	padding: 20px;
}

.loading {
	position: relative;
	height: 4px;
	width: 90%;
	background-color: #acece6;
	overflow: hidden;
	margin: 0 5%;
}

.loading::before{
	content: '';
	height: 4px;
	position: absolute;
	background-color: #002147;
	will-change: left, right;
	-webkit-animation: loading-long 2.1s cubic-bezier(0.650, 0.815, 0.735, 0.395) infinite;
	animation: loading-long 2.1s cubic-bezier(0.650, 0.815, 0.735, 0.395) infinite;

}

.loading::after {
	content: '';
	position: absolute;
	height: 4px;
	background-color: #002147;
	will-change: left, right;
	-webkit-animation: loading-short 2.1s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite;
	animation: loading-short 2.1s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite;
	-webkit-animation-delay: 1.15s;
	animation-delay: 1.15s;
}

@-webkit-keyframes loading-long{
	0% {left: -35%;right:100%;}
	60% {left: 100%;right: -90%;}
	100% {left: 100%;right: -90%;}
}

@keyframes loading-long{
	0% {left: -35%;right:100%;}
	60% {left: 100%;right: -90%;}
	100% {left: 100%;right: -90%;}
}

@-webkit-keyframes loading-short{
	0% {left: -200%;right: 100%;}
	60% {left: 107%;right: -8%;}
	100% {left: 107%;right: -8%;}
}

@keyframes loading-short{
	0% {left: -200%;right: 100%;}
	60% {left: 107%;right: -8%;}
	100% {left: 107%;right: -8%;}
}


.social-logo{
	height: $social-links-height;
	padding-right: 15px;
}

.content{
	padding-top: $large-header-height;
	padding-bottom: 30px;
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	overflow-x: hidden;
	width: 90%;
}

//Top Nav

.force-to-bottom{
	height: 100%;
	display: flex;
	align-items: flex-end;
	pointer-events: none;
	position: relative;
}

.top-nav-container{
	align-items: center;
	background-color: $primary-colour;
	display: flex;
	justify-content: space-between;
	height: $small-header-height;
	pointer-events: all;
	width:100%;
}

.top-nav
{
	display: block;
	font-size: 0;
	height: 1.15 * $top-nav-text-height + 2 * $top-nav-text-padding;
	white-space: nowrap;
    margin-right: 10px;
}

.top-nav-logo{
	float: left;
	height: 150%;
	padding: 10px;
}

.top-nav > ul{
	display: inline;
	font-size: 0;
	list-style-type: none;
	padding-left: 0;
}
.top-nav  li{
	border-color: rgba(255, 255, 255, .12);
	border-radius: 2px;
	border-style: solid;
	border-width: 0;
	border-left-width: 1px;
	box-sizing: border-box;
	color: #fff;
	display: inline-block;
	font-size: 0;
	font-weight: bold;
	height: 1.15 * $top-nav-text-height + 2 * $top-nav-text-padding;
	padding: 0px;
	position: relative;
	margin-top: 0;
	width: auto;

	a, label{
		font-size: $top-nav-text-height;
		padding:  0px 10px;
		line-height: 1.15 * $top-nav-text-height + 2 * $top-nav-text-padding;
	}
}

.top-nav .drop-down{
	border-radius: 2px 2px 0px 0px;
}
.top-nav li:hover{
	background-color: $accent-colour;
}

li:hover > .drop-down-menu{
	display: block;
	opacity: 1;
}

.top-nav li > label:after{
	color: #fff;
	content: ' \25BC';
	font-size: 75%;
}

.top-nav li > label:only-child:after{
	display: none;
}

.top-nav a,
.top-nav label{
	color: #fff;
}

.drop-down-menu{
	background: #fff;
	border-radius: 0px 2px 2px 2px;
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
	display: none;
	left: -1px; //To align with the border
	min-width: 100%;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 100%;
	-webkit-transition: opacity linear .15s;
	transition: opacity linear .15s;
	white-space: nowrap;
	z-index: 100;
}

.smaller-top-nav-container .drop-down-menu{
	left: auto;
	right: 0px;
	border-radius: 2px 0px 2px 2px;
}

.drop-down-menu li{
	border-radius: 0;
	border-top-color: rgba(0, 0, 0, .12);
	border-top-style: solid;
	border-top-width: 1px;
	border-left-width: 0;
	box-sizing: border-box;
	color: $accent-colour;
	display: block;
	font-size: 0;
	font-weight: bold;
	margin-top: 0;
	padding: 0;
	width: auto;

	a{
		color: inherit;
		font-size: $top-nav-text-height;
		height: 1.15 * $top-nav-text-height + 2 * $top-nav-text-padding;
		padding: 0 10px;
	}
}

.drop-down-menu li:hover {
	color: #fff;
}

#social-links{
	padding-top: ($small-header-height - $social-links-height)/2;
	position: absolute;
	right: 0;
}

.smaller #social-links{
	display: none;
}


//Side Nav

.side-nav{
	background: $primary-colour;
	box-shadow: rgba(0, 0, 0, .258824) 0 5px 0 0;
	box-sizing: content-box;
	color: #fff;
	display: none;
	font-family: RobotoDraft, Roboto, sans-serif;
	height: 100%;
	max-width: 70%;
	overflow-x: visible;
	padding-bottom: 60px;
	position: fixed;
	z-index: 200;
	top: 0;
	-webkit-transform: translateX(-100%);
	    -ms-transform: translateX(-100%);
	        transform: translateX(-100%);
	width: 250px;
}

.transition{
	-webkit-transition: -webkit-transform .3s;
	        transition: transform .3s;
}

#side-nav-drag{
	height: 100%;
	padding-left: 20px;
	padding-right: $side-nav-drag-width;
	position: absolute;
	right: - $side-nav-drag-width;
	z-index: 300;
}

#side-nav-wrapper-wrapper{
		height: 100%;
		overflow: auto;
}

.side-nav-wrapper{
	box-sizing: border-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 0;
	min-height: 100%;
	position: relative;
}

.side-nav-logo	{
	box-sizing: border-box;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(255, 255, 255, .12);
	padding: 15px;
	width: 100%;
}

.side-nav-trigger {
	border: none;
	cursor: pointer;
	display: none;
	float: left;
	height: $large-hamburger-height;
	padding: 0 $side-nav-drag-width;
	-webkit-tap-highlight-color: transparent;
}

.smaller .side-nav-trigger{
	height: $small-hamburger-height;
}

.side-nav-label{
	box-sizing: border-box;
	display: block;
	height: 100%;
	padding: $side-nav-vertical-padding $side-nav-horizontal-padding;
	width: 100%;
}

.side-nav ul	{
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	font-size: 0;
	padding: 0;
}

.side-nav li{
	box-sizing: border-box;
	border-bottom-color: rgba(255, 255, 255, .12);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-width: 0;
	color: #fff;
	display: block;
	font-size: $top-nav-text-height;
	font-weight: bold;
	margin-top: 0;
	padding: 0;
	text-align: center;
	width: auto;

	a{
		color: inherit;
		box-sizing: border-box;
		display: block;
		height: 100%;
		width: 100%;
		padding: $side-nav-vertical-padding $side-nav-horizontal-padding;
	}
}

.side-nav li:hover{
	background-color: $accent-colour;
}

.side-nav-expandable-item{
	display: none;
}

.side-nav-expand-menu{
	background: #fff;
	display: none;
	padding: 0 !important;
	position: relative;
	top: 100%;
}

.side-nav-expand-menu li{
	border-top-color: rgba(0, 0, 0, .12);
	color: $accent-colour;

}

.side-nav-expand-menu li:hover {
	color: #fff;
}

.side-nav-social-links{
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	padding: $side-nav-vertical-padding 0;
	text-align: center;
	width: 100%;
}

.side-nav-social-links .social-logo{
	padding-left: 7.5px;
	padding-right: 7.5px;
}

#small-grey-out	{
	background: rgba(0,0,0,.4);
	box-sizing: content-box;
	display:none;
	height: 100%;
	opacity: 0;
	padding-bottom: 60px;
	position: fixed;
	top: 0;
	width: 0;
	z-index: 150;
}


@media all and (max-width: 1500px){
	.top-nav-logo{
		height: 100%;
	}
}

@media all and (max-width: $change-width){

	header{
		padding-left: 0;
	}

	h1{
		display: block;
		padding-left: 0;
	}

	#content{
		padding-left: 0;
	}

	#social-links{
		display: none;
	}

	#small-grey-out{
		display: initial;
	}

	.top-nav{
		display: none !important;
	}

	.top-nav-logo{
		float: right;
	}

	.side-nav{
		display: block;
	}

	.side-nav-trigger{
		display: inline-block;
	}

}

@media all and (max-width: 550px)
{
	h1{
		font-size: $small-title-height;
	}

	.side-nav-trigger{
		height: $small-hamburger-height;
	}

	.top-nav-logo{
		display: none;
	}
}

@media all and (min-width: $change-width){
	body{
		overflow: initial !important;
	}
}

@keyframes pop{
	0% {transform: scale(0) translateX(-50%) translateY(-50%)}
	90% {transform: scale(1.1) translateX(-50%) translateY(-50%)}
	100% {transform: scale(1) translateX(-50%) translateY(-50%)}
}

.popup{
	animation-name: pop;
	animation-duration: .8s;
	animation-timing-function: ease-in-out;
	cursor: default;
	position: fixed;
	margin-top: 50vh;
	margin-left: 50vw;
	max-width: 500px;
	transform: translateX(-50%) translateY(-50%);
	transform-origin: left top;
	width: 90vw;
	z-index: 500;
}

.close{
	color: $error-colour;
	font-size: 30px;
	height: 30px;
	position: absolute;
	right: 0;
	text-align: center;
	top : 0;
	width: 30px;
}
