---
---
@import 'variables';

$large-header-height: 150px;
$small-header-height: 70px;

$large-title-height: 48px;
$small-title-height: 30px;

$large-hamburger-height: $large-title-height * 1.15;
$small-hamburger-height: $small-title-height * 1.15;
$side-nav-triggerhorizontal-padding: 15px;

$top-nav-text-height: 20px;
$top-nav-text-padding: 10px;

$side-nav-vertical-padding: 10px;
$side-nav-horizontal-padding: 20px;

$social-links-height: 30px;

$change-width: 1360px;

$animation-duration: 5s;

// Tags

*{
	font-size: 15px;
}

html,
body{
	background: #f9f9f9;
	font-family: RobotoDraft, Roboto, sans-serif;
	height: 100%;
	width: 100%;
  margin: 0;
}

a{
	text-decoration: none;
}

a:link{
	color:#005EA5;
}

a:visited{
	color:#4C2C92;
}

a:hover{
	color:#2E8ACA;
}

img{
	box-sizing: border-box;
    max-width: 100%;
}

table {
    padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	text-align: center;
}

td{
	padding-left:15px;
	padding-right:15px;
}

ul{
	list-style-type: none;
}

li{
	padding: 5px;

	a{
		box-sizing: border-box;
		display: block;
		height: 100%;
		width: 100%;
	}
}

h1{
	display: inline-block;
    font-size: $large-title-height;
    font-weight: bold;
    padding-left: 0;
    margin: 0;
}

.smaller h1{
		flex-basis: 0px;
		flex-grow: 1;
    font-size: $small-title-height;

}

h2{
	color: $primary-colour;
    font-size: $h2-font-size;
    font-weight: bold;
	padding-left: 10px;
    padding-right: 10px;
}

h3{
    font-weight: bold;
    padding-left: 20px;
	padding-right: 10px;
}

p{
    padding-left: 20px;
	padding-right: 10px;
}

header{
	background: $primary-colour;
	box-shadow: rgba(0, 0, 0, .258824) 0 2px 5px 0;
	color: rgb(255, 255, 255);
  font-size: 0;
	height: $large-header-height;
	overflow: visible;
  position: fixed;
	top: 0;
	width: 100%;
  z-index: 100;
}

a:nth-child(1) > li{
	border: none !important;
}

input:checked + ul{
	display: block;
	opacity: 1;
}

//Misc

.aligner{
	font-size: $h2-font-size;
}

.divider{
	background:#BDBDBD;
	height:1px;
	overflow:hidden;
	width:100%;
}

.vertical-divider{
	background:#BDBDBD;
	overflow:hidden;
	width: 2px;
}

.card{
	background: white;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px;
	box-sizing: border-box;
	margin: 10px 5px;
	padding: 20px;
}

.loading {
	position: relative;
	height: 4px;
	width: 90%;
	background-color: #acece6;
	overflow: hidden;
	margin: 0 5%;
}

.loading::before{
	content: '';
	height: 4px;
	position: absolute;
	background-color: #002147;
	will-change: left, right;
	animation: loading-long 2.1s cubic-bezier(0.650, 0.815, 0.735, 0.395) infinite;

}

.loading::after {
	content: '';
	position: absolute;
	height: 4px;
	background-color: #002147;
	will-change: left, right;
	animation: loading-short 2.1s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite;
	animation-delay: 1.15s;
}

@keyframes loading-long{
	0% {left: -35%;right:100%;}
	60% {left: 100%;right: -90%;}
	100% {left: 100%;right: -90%;}
}

@keyframes loading-short{
	0% {left: -200%;right: 100%;}
	60% {left: 107%;right: -8%;}
	100% {left: 107%;right: -8%;}
}

.smaller{
	height: $small-header-height !important;
}

.social-logo{
	height: $social-links-height;
	padding-right: 15px;
}

#content{
	padding-top: $large-header-height;
	padding-bottom: 30px;
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	overflow-x: hidden;
	width: auto;
}

//Top Nav

.top-nav-container{
	display: flex;
	flex-direction: column;
	justify-content:	flex-end;
	height: 100%;
}

.smaller-top-nav-container{
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.top-nav
{
	display: block;
	font-size: 0;
	height: 1.15 * $top-nav-text-height + 2 * $top-nav-text-padding;
}

.top-nav-logo{
	float: left;
	height: 150%;
  padding: 10px;
}

.top-nav > ul{
	display: inline;
	font-size: 0;
	list-style-type: none;
	padding-left: 0;
}
.top-nav  li{
	border-color: rgba(255, 255, 255, .12);
	border-style: solid;
	border-width: 0;
	border-left-width: 1px;
	box-sizing: border-box;
	color: #fff;
	display: inline-block;
	font-size: 0;
	font-weight: bold;
	height: 1.15 * $top-nav-text-height + 2 * $top-nav-text-padding;
	padding: 0px;
	position: relative;
	margin-top: 0;
	width: auto;

	a, label{
		font-size: $top-nav-text-height;
		padding:  0px 10px;
		line-height: 1.15 * $top-nav-text-height + 2 * $top-nav-text-padding;
	}
}

.top-nav li:hover{
	background-color: $accent-colour;
}

li:hover > .drop-down-menu{
	display: block;
	opacity: 1;
}

.top-nav li > label:after{
	color: #fff;
	content: ' \25BC';
	font-size: 75%;
}

.top-nav li > label:only-child:after{
	display: none;
}

.top-nav a,
.top-nav label{
	color: #fff;
}

.drop-down-menu{
	background: #fff;
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
	display: none;
	left: -1px; //To align with the border
	opacity: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	transition: opacity linear .15s;
	width: 160%;
}

.smaller-top-nav-container .drop-down-menu{
	left: auto;
	right: 0px;
}

.drop-down-menu li{
	border-top-color: rgba(0, 0, 0, .12);
	border-top-style: solid;
	border-top-width: 1px;
	border-left-width: 0;
	box-sizing: border-box;
	color: $accent-colour;
	display: block;
	font-size: 0;
	font-weight: bold;
	margin-top: 0;
	padding: 0;
	width: auto;

	a{
		color: inherit;
		font-size: $top-nav-text-height;
		height: 1.15 * $top-nav-text-height + 2 * $top-nav-text-padding;
		padding: 0 10px;
	}
}

.drop-down-menu li:hover {
	color: #fff;
}

#social-links{
	padding-top: ($small-header-height - $social-links-height)/2;
	position: absolute;
	right: 0;
	z-index: 2;
}

.smaller #social-links{
	display: none;
}


//Side Nav

.side-nav{
	background: $primary-colour;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: rgba(255, 255, 255, .12);
	box-shadow: rgba(0, 0, 0, .258824) 0 5px 0 0;
	color: #fff;
	display: none;
	font-family: RobotoDraft, Roboto, sans-serif;
	height: 100%;
	//left: -300px;
	max-width: 70%;
	overflow: auto;
	position: fixed;
	z-index: 200;
	top: 0;
	transform: translateX(-300px);
	transition: transform .3s;
	width: 250px;
}

.side-nav-wrapper{
	box-sizing: border-box;
	font-size: 0;
	min-height: 100%;
	padding-bottom: $social-links-height + 2 * $side-nav-vertical-padding;
	position: relative;
}

.side-nav-logo	{
	box-sizing: border-box;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(255, 255, 255, .12);
	padding: 15px;
	width: 100%;
}

.side-nav-trigger {
	border: none;
	cursor: pointer;
	display: none;
	float: left;
	height: $large-hamburger-height;
	padding: 0 $side-nav-triggerhorizontal-padding;
}

.smaller .side-nav-trigger{
	height: $small-hamburger-height !important;
}

.side-nav-label{
	box-sizing: border-box;
	display: block;
	height: 100%;
	padding: $side-nav-vertical-padding $side-nav-horizontal-padding;
	width: 100%;
}

.side-nav ul	{
	font-size: 0;
	padding: 0;
}

.side-nav li{
	box-sizing: border-box;
	border-bottom-color: rgba(255, 255, 255, .12);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-width: 0;
	color: #fff;
	display: block;
	font-size: $top-nav-text-height;
	font-weight: bold;
	margin-top: 0;
	padding: 0;
	text-align: center;
	width: auto;

	a{
		color: inherit;
		padding: $side-nav-vertical-padding $side-nav-horizontal-padding;
	}
}

.side-nav li:hover{
	background-color: $accent-colour;
}

.side-nav-expandable-item{
	display: none;
}

.side-nav-expand-menu{
	background: #fff;
	display: none;
	padding: 0 !important;
	position: relative;
	top: 100%;
}

.side-nav-expand-menu li{
	border-top-color: rgba(0, 0, 0, .12);
	color: $accent-colour;

}

.side-nav-expand-menu li:hover {
		color: #fff;
}

#side-nav-social-links{
	bottom: 0;
	padding: $side-nav-vertical-padding 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

#small-grey-out	{
	background: rgba(0,0,0,.4);
	display:none;
	height: 100%;
	position: fixed;
	width: 0;
	z-index: 1;
}

@media all and (max-width: 1500px){
	.top-nav-logo{
		height: 100%;
	}
}

@media all and (max-width: $change-width){

	header{
		padding-left: 0;
	}

	h1{
		display: block;
		padding-left: 0;
	}

	.top-nav-container{
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-end;
		position: absolute;
		padding-bottom: 10px;
		box-sizing: border-box;
		top: 0;
	}

	.smaller .top-nav-container{
		align-items: center;
		padding-bottom: 0px;
		;
	}

	#content{
		padding-left: 0;
	}

	#social-links{
		display: none;
	}

	#small-grey-out{
		display: initial;
	}

	.top-nav{
		display: none !important;
	}

	.top-nav-logo{
		float: right;
	}

	.side-nav{
		display: block;
	}

	.side-nav-trigger{
		display: inline-block;
	}

}

@media all and (max-width: 750px)
{
	h1{
		font-size: $small-title-height;
	}

	.side-nav-trigger{
		height: $small-hamburger-height !important;
	}
}

@media all and( max-width: 550px){

	.smaller h1 {
		display: none;
	}

	.top-nav-logo{
		display: none;
	}

	.smaller .top-nav-logo{
		display: block;
		float: none;
		margin: 0 auto;
	}

}

@media all and (min-width: $change-width){
	body{
		overflow: initial !important;
	}
}
