---
---
@import 'variables';

$large-header-height: 150px;
$small-header-height: 70px;
$social-links-height: 30px;
$side-nav-vertical-padding: 10px;
$side-nav-horizontal-padding: 20px;
$small-title-height: 30px;
$small-hamburger-height: $small-title-height * 1.15;

$large-title-height: 48px;
$top-nav-text-height: 20px;
$top-nav-text-padding: 10px;
$large-hamburger-height: $large-title-height * 1.15;


html,
body
{
    font-family: RobotoDraft, Roboto, sans-serif;

    height: 100%;
    margin: 0;

    background: #f9f9f9;
}
a
{
    text-decoration: none;
}

img
{
    box-sizing: border-box;
    max-width: 100%;
}
header
{
    font-size: 56px;
    font-size: 0;

    position: fixed;
    z-index: 1;

    overflow: visible;

    width: 100%;
    height: $large-header-height;

    transition: height left .1s;

    color: rgb(255, 255, 255);
    background: $primary-colour;
    box-shadow: rgba(0, 0, 0, .258824) 0 2px 5px 0;
}

li:nth-child(1)
{
    border: none !important;
}

li:hover
{
    background-color: $accent-colour;
}

.side-nav-wrapper
{
    font-size: 0;

    position: relative;

    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: $social-links-height + 2 * $side-nav-vertical-padding;
}

.top-nav-logo
{
    float: left;

    height: 100%;
    margin-right: 20px;
    padding: 10px;
}

.top-nav
{
    font-size: 0;

    display: block;

    padding: 10px;
}
.top-nav > ul
{
    font-size: 0;

    display: inline;

    padding-left: 0;

    list-style-type: none;
}	
.top-nav  li
{
    font-size: 20px;
    font-weight: bold;

    position: relative;

    display: inline;

    box-sizing: border-box;
    width: auto;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #fff;
    border-width: 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, .12);
    border-left-width: 1px;
}	


.top-nav a,
.top-nav label
{
    padding-right: 15px;
    padding-left: 15px;

    color: #fff;
}	
.side-nav-trigger
{
    display: none;
}

#social-links
{
    position: absolute;
    z-index: 2;
    right: 0;

    padding-top: ($small-header-height - $social-links-height)/2;
}
#side-nav-social-links
{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: $side-nav-vertical-padding 0;

    text-align: center;
}

#twitter-logo,
#facebook-logo,
#github-logo
{
    height: $social-links-height;
    padding-right: 15px;
}	

#small-grey-out
{
    position: fixed;
    z-index: 1;

    width: 0;
    height: 100%;

    background: rgba(0,0,0,.4);
}
h1
{
    font-size: $large-title-height;
    font-weight: bold;

    display: inline-block;

    margin: 0;
    padding-top: $large-header-height - 1.15 * $large-title-height - 1.15 * $top-nav-text-height - 2 * $top-nav-text-padding;
    padding-left: 0;

    transition: height .1s;
}
.smaller h1
{
    font-size: $small-title-height;

    padding-top: ($small-header-height - $small-title-height)/2;
}
.smaller .top-nav
{
    display: inline;
}

.smaller
{
    height: $small-header-height !important;
}
.smaller .side-nav-trigger
{
    height: $small-hamburger-height !important;
    margin-top: ($small-header-height - $small-title-height)/2;
}
.side-nav-logo
{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, .12);
}
.side-nav
{
    display: none;
}


#content
{
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: $large-header-height;
    padding-bottom: 30px;
}

h2
{
    font-size: $h2-font-size;
    font-weight: bold;

    padding-right: 10px;
    padding-left: 10px;

    color: $primary-colour;
}

h3
{
    font-size: 19px;
    font-weight: bold;

    padding-right: 10px;
    padding-left: 20px;
}

p
{
    font-size: 19px;

    padding-right: 10px;
    padding-left: 20px;
}

.aligner
{
    font-size: $h2-font-size;
}

li:hover > .drop-down-menu
{
    display: block;

    opacity: 1;
} 

input:checked + ul
{
    display: block;

    opacity: 1;
}

.top-nav li > label:after
{
    font-size: 75%;

    content: ' \25BC';

    color: #fff;
}

.top-nav li > label:only-child:after
{
    display: none;
}

.drop-down-menu a
{
    color: $accent-colour;
}
.drop-down-menu li:hover > a
{
    color: #fff;
}	
.drop-down-menu
{
    position: absolute;
    top: 100%;
    left: 0;

    display: none;

    width: 160%;
    padding: 0;

    transition: opacity linear .15s;

    opacity: 0;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
}
.drop-down-menu li,
.side-nav li
{
    font-size: $top-nav-text-height;
    font-weight: bold;

    display: block;

    box-sizing: border-box;
    width: auto;
    margin-top: 0;
    padding-top: $top-nav-text-padding;
    padding-bottom: $top-nav-text-padding;

    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 0;
}

.drop-down-menu li
{
    border-top-color: rgba(0, 0, 0, .12);
}

.side-nav li
{
    padding: $side-nav-vertical-padding $side-nav-horizontal-padding;

    text-align: center;

    border-top-color: rgba(255, 255, 255, .12);
}

@media all and (max-width: 1400px)
{
    .side-nav-trigger
    {
        display: inline-block;
        float: left;

        height: $large-hamburger-height;
        margin-top: $large-header-height - $large-title-height - 20px;
        padding: 0 15px;

        cursor: pointer;

        border: none;
    }
    #social-links
    {
        display: none;
    }

    h1
    {
        display: block;

        padding-top: $large-header-height - $large-title-height - 20px;
        padding-left: 0;
    }
    #content
    {
        padding-left: 0;
    }
    header
    {
        padding-left: 0;
    }
    .top-nav
    {
        display: none !important;
    }
    .top-nav-logo
    {
        display: none;
    }
    .side-nav
    {
        font-family: RobotoDraft, Roboto, sans-serif;

        position: fixed;
        z-index: 3;
        top: 0;
        left: -300px;

        display: block;
        overflow: auto;

        width: 250px;
        max-width: 70%;
        height: 100%;

        transition: left .3s;

        color: #fff;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: rgba(255, 255, 255, .12);
        background: $primary-colour;
        box-shadow: rgba(0, 0, 0, .258824) 0 5px 0 0;
    }
    .side-nav-expand-menu
    {
        position: relative;
        top: 100%;

        display: none;

        margin-top: $side-nav-vertical-padding;
        margin-right: - $side-nav-horizontal-padding;
        margin-bottom: - $side-nav-vertical-padding;
        margin-left: - $side-nav-horizontal-padding;
        padding: 0 !important;

        background: #fff;
    }


    .side-nav-expand-menu a
    {
        color: $accent-colour;
    }
    .side-nav-expand-menu li:hover > a
    {
        color: #fff;
    }
    .side-nav-expand-menu li
    {
        border-top-color: rgba(0, 0, 0, .12);
    }

    .side-nav ul
    {
        font-size: 0;

        padding: 0;
    }
    .side-nav > div > ul > li > a
    {
        text-decoration: none;

        color: #fff;
    }

    .side-nav-expandable-item
    {
        display: none;
    }
}	
@media all and (max-width: 500px)
{
    h1
    {
        font-size: $small-title-height;

        padding-top: $large-header-height - $small-title-height - 20px;
    }
    .side-nav-trigger
    {
        height: $small-hamburger-height !important;
        margin-top: $large-header-height - $small-title-height  - 20px;
    }
}
